
{% load static %}

<div class="sign-in-card-content">
        <div class="sign-in-card-element">
            <p>Email:</p>
            <!-- <form action=""> -->
                <input type="email" name="email" placeholder="e.g. john.doe@domain.com">
            <!-- </form> -->
        </div>

        <div class="sign-in-card-element">
            <p>Phone:</p>
            <!-- <form action=""> -->
                <input type="tel" name="phone" placeholder="e.g. (555)555-5555">
            <!-- </form> -->
        </div>

        <div class="sign-in-card-element">
            <p>Password:</p>
            <!-- <form action=""> -->
                <input type="password" name="password" placeholder="e.g. John Doe">
            <!-- </form> -->
        </div>

        <div class="sign-in-card-element">
            <!-- <form action=""> -->
                <button type="submit" class="sign-in-card-button-option">Next</button>
            <!-- </form> -->
        </div>
    </div>