<!DOCTYPE html>
<html lang="en">

{% load static %}


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  {% block style %}{% endblock %}
</head>
<body>
	<script src="{% static 'js/backend_requests.js' %}"></script>
    <header>
        <nav>
            <div class="logo"><img src="{% static 'images/svsu_header.png' %}" alt="SVSU Logo"></div>
        </nav>
    </header>

		<main>
			<div class="login-form">
				{% csrf_token %}
				<input id="txtUname" type="text"/>
				<input id="txtPassword" type="password"/>
				<button id="btnLogin">Login</button>
				<div class="warning" id="login-form-warning">
				</div>

				<script src="{% static 'js/login_form.js' %}"></script>
			</div>
		</main>

    <footer>
        <p>&copy;<span id="current-year"></span> Saginaw Valley State University</p>
    </footer>

</body>
<!-- Script to Append Current Year to bottom of page -->
<script>
    document.addEventListener('DOMContentLoaded', ()=>{
        const currentYear = new Date().getFullYear();
        document.getElementById('current-year').textContent = currentYear;
    });
</script>
</html>

