asgiref==3.7.2
bcrypt==4.1.2
Django==5.0.1
django-debug-toolbar==4.3.0
django-extensions==3.2.3
et-xmlfile==1.1.0
gunicorn==21.2.0
openpyxl==3.1.2
packaging==24.0
pillow==10.2.0
psycopg2-binary==2.9.9
python-dateutil==2.9.0
python-dotenv==1.0.1
six==1.16.0
sqlparse==0.4.4
pysaml2==7.5.0
djangosaml2==1.9.2