<div class="modal" id="add_new_organization_modal">
    <div class="admin_user_management_modal_container">
        <header class="modal-header">
            <button class="admin_user_management_word_button_active" id="exit_add_new_organization_button" tabindex="0">
                <img src="../static/images/x-16.png" alt="Exit Note Creation" class="modal-exit" id="modal-exit">
            </button>
        </header>
        <div id="add_new_organization_modal_container">
            <div>
                <h2 id="admin_user_management_medium_text">Organization Name</h2>
    
                <input type="text" class="organization_name_bar" id="organization_name_bar" placeholder="Input organization name">

                <button class="admin_user_management_word_button_active" id="create_organization_button">
                    <p id="admin_user_management_small_text">
                        Create Organization
                    </p>
                </button>

                <p class="add_new_organization_error_bar" id="admin_user_management_small_text">
                    PLACEHOLDER ERROR MESSAGE
                </p>
            </div> 
        </div>
    </div>
</div>