{% extends 'index.html' %}

{% load static %}

{% block title %}
SVSU Mentoring
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_reported_users.css' %}">
{% endblock %}

{% block main_content %}

<section class="hero">
    <div class="hero-container">

        <h1>Reported Users</h1>
        <div class="filter">
            <span>Filter:</span>
            <div class="search-name-container">
                <div class="search-name">
                    <img class="search-icon" src="{% static 'images/search-icon.png' %}">
                    <input type="text" placeholder="Search by Name" id="searchByNameField" oninput="filterUsers()">
                </div>
            </div>
        </div>

        <div class="reported-users-area">
            <h2 class="no-reports-message" {% if mentor_reports_dict %}style="display: none;"{% endif %}>No reported users</h2>

            {% for mentor, reports in mentor_reports_dict.items %}
            <div class="reported-user card">
                <h2 class="reported-user-name">{{mentor.account.str_first_name}} {{mentor.account.str_last_name}}</h2>
                <h3>Reports:</h3>
                <div class="report-subcard">
                    <ul>
                        {% for report in reports %}
                        <li class="user-report">
                            <div class="report-body">{{report.str_report_body}}</div>
                            <div class="report-controls">
                                <div class="resolve-report" id="{{report.id}}">Resolve</div>
                                <form class="resolve-report-form" id="resolve-report-form-{{report.id}}" action="/admin_reported_users/resolve_report/" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="report_id" value="{{report.id}}">
                                    <input type="submit" value="" style="display: none;" />
                                </form>
                            </div>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

<script>
    // Super basic string matching on report user's name to show/hide their cards
    function filterUsers() {
        const searchByNameField = document.getElementById('searchByNameField');
        const reportedUserCards = document.querySelectorAll('.card');

        const searchString = searchByNameField.value.toLowerCase();

        // Return early and unhide all cards if there is nothing to search for.
        if (searchString === '') {
            const hiddenCards = document.querySelectorAll('.hidden');
            hiddenCards.forEach(card => card.classList.remove('hidden'));
            return;
        }

        reportedUserCards.forEach(card => {
            // Get the value of the h2, which should be first.
            // It should contain the name of the card user.
            const cardName = card.children[0].innerText.toLowerCase();

            if (cardName.includes(searchString)) {
                // Keep this one disabled, do nothing
            } else {
                // Hide the other cards
                card.classList.add('hidden');
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function() {

    var resolve = document.getElementsByClassName("resolve-report");
    for (var i = 0; i < resolve.length; i++) {
        resolve[i].addEventListener("click", function() {
            var reportId = this.id;
            resolveReport(reportId);
        });
    }  

    function resolveReport(reportId) {
        var resolveReportForm = document.getElementById("resolve-report-form-" + reportId)
        resolveReportForm.submit();
    }
});


</script>

{% endblock %}