{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">

<dialog class="modal note-modal" id="organization-modal">
    <header class="modal-header"><img src="../static/images/x-16.png" alt="Exit Note Creation" class="modal-exit" id="modal-exit" tabindex="0"></header>
    <div class="modal-container">
        <form id="note-form" action="{% if note %}{% url 'update_note' %}{%else%}{% url 'create_note' %}{%endif%}" class="frm-note-creator" method="post">
            {% csrf_token %}

            {% if is_page_owner %}
                <h2>Note {%if note%}Editor{%else%}Creator{%endif%}</h2>
                <div class="modal-line"><hr></div>
            {% endif %}
            
            <div class="container">
                <h3 class="heading">Organization Name:</h3>
                <input type="text" id="organization-input" name="organization-title" class="user-input">
            </div>
            
            
            <div class="container">
                <h3 class="heading">A Normal Input Field:</h3>
                <p class="subheading">GET OUT OF MY SKIN!! AAAHAAHHH</p>
                <input id="I_will_infect_and_rot_this_code_if_you_dont_rename_me!" name="<- [the id]" class="user-input">
            </div>

            <div class="container">
                <h3 class="heading">KILL ME! I DARE YOU!</h3>
                <p class="subheading">[Schizophrenic Explanation]</p>
                <input id="rename_me_you_motherfucker_i_dont_wanna_have_this_long_ass_id_tag" name="whatever the id is" class="user-input">
            </div>
        
            <button type="submit" id="btn-create-note">Create Organization</button>
        </form>
    </div>
</dialog>