<div class="organization_management_bar_container">
    <div class="organization_management_bar">
        <div id="organization_account">
            {{ organization.id }}
        </div>

        <p class="organization_management_bar_name" id="admin_user_management_small_text">
            {{ organization.name }}
        </p>
        
        {% if user_admin_flag %}
            <button class="admin_user_management_word_button_active" id="remove_organization_button">
                <p class="remove_organization_button_title" id="admin_user_management_small_text">
                    REMOVE
                </p>
            </button>
        {% endif %}
    </div>

    <div id="admin_list">
        <p class="admin_list_title" id="admin_user_management_small_text">
            Admins
        </p>

        <hr>

        {% for mentor in organization.admin_list %}
            {% include 'admin/mentor_management_bar.html' %}
        {% endfor %}
    </div>

    <div id="mentor_list">
        <p class="mentor_list_title" id="admin_user_management_small_text">
            Mentors
        </p>

        <hr>

        {% for mentor in organization.mentor_list %}
            {% include 'admin/mentor_management_bar.html' %}
        {% endfor %}
    </div>

    <hr>
</div>