<div class="organization_management_bar_container">
    <div class="organization_management_bar">
        <div id="organization_account">
            {{ organizations.organizations }}
        </div>

        <p id="admin_user_management_small_text">
            {{ organization.name }}
        </p>
        
        {% if user_super_admin_flag or user_admin_flag %}
            <button class="admin_user_management_word_button_active" id="remove_organization_button">
                <p id="admin_user_management_small_text">
                    REMOVE
                </p>
            </button>
        {% endif %}
    </div>

    {% for mentor in admin_list %}
        {% include 'admin/organization_management_bar.html' %}
    {% endfor %}
</div>