<dialog class="modal" id="pass-code-modal">
    <header class="modal-header"><img src="../static/images/x-16.png" alt="exit" class="modal-exit" id="modal-pass-code-exit" tabindex="0"></header>
    <div class="modal-container">
        <div class="modal-content-container">
            <h2>We sent you a code</h2>
            <div class="modal-line"><hr></div>
            <p>Check your email to get your reset token.</p>
            <input type="text" class="user-input" id="recover-code" placeholder="Enter your code" />
            <p>Didn't receive a code? <span class="text-btn" tabindex="0">Resend Code</span></p>
        </div>
        <div class="modal-footer-container">
            <button class="li-buttons submit-buttons" id="pass-reset-code" type="button">Send Confirmation Code</button>
        </div>
    </div>
</dialog>