<dialog class="modal" id="forgot-pass-modal-1">
    <header class="modal-header">
        <div class="circle-wrapper">
             <img src="../static/images/x-16.png" alt="exit" class="modal-exit" id="modal-exit" tabindex="0">
        </div>
    </header>

    <div class="modal-container">        
        <div class="modal-content-container">
            <h2>Recover Account</h2>
            <div class="modal-line"><hr></div>
            <p>Enter the email associated with your account to change your password.</p>            
        </div>
        <div class="modal-footer-container">
            <form id="frm-reset-password">
                {% csrf_token %}
                <input type="email" id="reset-email" class="user-input" name="email" placeholder="e.g. john.doe@svsu.edu" >
                <button onclick="checkEmail(event)" class="login-buttons | li-btn" id="pass-reset" style="font-size: 16px;">Send Password Reset Link</button>
                <h2 id="email-status-good" class="good_email"></h2>
                <p id="email-status-bad" class="bad_email" ></p>
            </form>
        </div>
    </div>
</dialog>

</body>
</html>

<script>
    // Moved to forgot_pass_modals.js 👻
</script>