{% extends 'index.html' %}

{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block main_content %}

<section class="hero">
    <div class="hero-container">

        <h2 style="text-align:center;">My Account</h2>
        <form action="{% if user.is_mentee %}/mentee_profile{% else %}/group_view{% endif %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ session_user.pk }}" />
            <input type="image" class="card-profile-image" alt="Login" src="{{ session_user.img_user_profile.url }}" />
        </form>

        <div class="section-recommended">
            {% if role == 'Mentee' %}
                <h1>Recommended Mentors</h1>
            {% else %}
                <h1>Recommended Mentees</h1>
            {% endif %}
            <div class="recommended-cards">
                <!-- 5 Cards should be inserted -->
                {% for user in recommended_users %}
                    {% include 'dashboard/profile-card/mentee_card.html' %}
                {% endfor %}

            </div>
        </div>

        <div class="section-available">

            {% if role == 'Mentee' %}
                <h1>Available Mentors</h1>
            {% else %}
                <h1>Available Mentees</h1>
            {% endif %}

            <div class="available-filters">
                <div class="available-interests-filter">
                    <p>Filter:</p>
                    <div id="popup-root" class="available-interests-filter-box popup">
                        <p>Interests</p>
                        <img class="down-arrow" src="{% static 'images/white-dropdown-arrow.png' %}">

                        <div id='popup' class="popup-inner">
                            <div class="popup-inner-title">
                                <p>Interests</p>
                                <img class="down-arrow" src="{% static 'images/white-dropdown-arrow.png' %}">
                            </div>

                            <div id="inner-popup-content">
                                <div class="popup-search-box">
                                    <input type="text" name="search-interests" placeholder="Search Interests" onkeyup="filterInterests()">
                                </div>

                                <div class="popup-checkboxes">


                                    {% for interest in interests %}
                                        <div class="popup-checkbox-item {{ interest.strInterest }}">
                                            <input type="checkbox" id="cb1" name="{{ interest.strInterest }}" onchange="filterInterests()">
                                            <label for="cb1">{{interest.strInterest}} ({{interest.mentor_count}})</label>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="available-search-name">
                    <img class="search-icon" src="{% static 'images/search-icon.png' %}">
                    <input type="text" placeholder="Search by Name" id="searchByNameField" oninput="filterInterests()">
                </div>
            </div>

            <div class="available-cards">
                    {% for user in all_users %}
                    <div class="goFuckYourself{% for interest in user.interests.all %} {{interest.strInterest}}{% endfor %}">
                        {% include 'dashboard/profile-card/mentee_card.html' %}
                    </div>
                    {% endfor %}
            </div>

        </div>

    </div>


</section>

{{ interests|json_script:"interests-dictionary" }}

<script src = "{% static 'js/backend_requests.js' %}"></script>
<script>
	//scripts to make the buttons request a mentor


	//start by giving the js script context from djangos back end
	let session_user_id = "{{ session_user.id }}";
	let is_mentee_str = "{{ role }}";

	let is_mentee = is_mentee_str == 'Mentee';
</script>
<script src = "{% static 'js/dashboard/dashboard_request_button.js' %}"></script>
<script>

    /* These event listeners show/hide the Interests popup when it is clicked on */
    var popupRoot = document.getElementById('popup-root')
    var popup = document.getElementById('popup')
    var popupContent = document.getElementById('inner-popup-content')
    popupRoot.addEventListener("mouseup", event => {
        if (event.target != popupContent && (event.target == popupRoot || event.target.parentNode == popup)) {
            popup.classList.toggle('show')
            
        }
    })

  
    filterInterests = () => {
        const users = document.getElementsByClassName('goFuckYourself')
        const filter_tags = document.getElementsByClassName('popup-checkbox-item')

        const search_bar = document.getElementById('searchByNameField')
        const search_query = search_bar.value


        // Some Experimental Bullshit
        for(const user of users) {
            user.style.display = 'none'
        }

        const selected_filters = []
        for(const interest_filter of filter_tags) {
            if(interest_filter.querySelector('input').checked) {
                const class_of_interest = Array.from(interest_filter.classList).pop(0)
                console.log('hello?')
                selected_filters.push(class_of_interest)
            }
        }

        console.log(selected_filters)
        if(selected_filters.length == 0) {
            for(const user of users)
                if(user.getElementsByClassName('card-name')[0].innerHTML.includes(search_query))
                user.style.display = 'block'
            return
        }
            

        for (const user of users) {
            console.log('name:' + user.classList)
            // if(Array.from(user.classList).some(i => selected_filters.some(j => j==i)))
            if(Array.from(user.classList).some(className => selected_filters.includes(className))) {
                console.log('this dude roicks')
                user.style.display = 'block'
            }
                
        }
        
        
        
    }
    
    const value = JSON.parse(document.getElementById("interests-dictionary").textContent);
    console.log(value)

    
</script>



{% endblock %}
