{% extends 'index.html' %}

{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block main_content %}

<section class="hero">
    <div class="hero-container">

        <div class="section-recommended">
            {% if role == 'Mentee' %}
                <h1>Recommended Mentors</h1>
            {% else %}
                <h1>Recommended Mentees</h1>
            {% endif %}
            <div class="recommended-cards">
                <!-- 5 Cards should be inserted -->
                {% for user in recommended_users %}
                    {% include 'dashboard/profile-card/mentee_card.html' %}
                {% endfor %}
            </div>
        </div>

        <div class="section-available">

            {% if role == 'Mentee' %}
                <h1>Available Mentors</h1>
            {% else %}
                <h1>Available Mentees</h1>
            {% endif %}

            <div class="available-filters">
                <div class="available-interests-filter">
                    <p>Filter:</p>
                    <div id="popup-root" class="available-interests-filter-box popup">
                        <p>Interests</p>
                        <img class="down-arrow" src="{% static 'images/white-dropdown-arrow.png' %}"></img>

                        <div id='popup' class="popup-inner">
                            <div class="popup-inner-title">
                                <p>Interests</p>
                                <img class="down-arrow" src="{% static 'images/white-dropdown-arrow.png' %}"></img>
                            </div>

                            <div id="inner-popup-content">
                                <div class="popup-search-box">
                                    <input type="text" name="search-interests" placeholder="Search Interests" onkeyup="filterInterests()">
                                    

                                </div>

                                <div class="popup-checkboxes">


                                    {% for interest in interests %}
                                        <div class="popup-checkbox-item {{ interest.strInterest }}">
                                            <input type="checkbox" id="cb1" name="{{ interest.strInterest }}" onchange="filterInterests()">
                                            <label for="cb1">{{interest.strInterest}} ({{interest.mentor_count}})</label>
                                        </div>
                                    {% endfor %}


                                    <!-- <div class="popup-checkbox-item">
                                        <input type="checkbox" id="cb1" checked>
                                        <label for="cb1">Artificial Intelligence (32)</label>
                                    </div>

                                    <div class="popup-checkbox-item">
                                        <input type="checkbox" id="cb2" checked>
                                        <label for="cb2">Machine Learning (24)</label>
                                    </div>

                                    <div class="popup-checkbox-item">
                                        <input type="checkbox" id="cb3" checked>
                                        <label for="cb3">Data Science (15)</label>
                                    </div>

                                    <div class="popup-checkbox-item">
                                        <input type="checkbox" id="cb4" checked>
                                        <label for="cb4">Cloud Computing (12)</label>
                                    </div>

                                    <div class="popup-checkbox-item">
                                        <input type="checkbox" id="cb5" checked>
                                        <label for="cb5">Networking (4)</label>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="available-search-name">
                    <img class="search-icon" src="{% static 'images/search-icon.png' %}"></img>
                    <input type="text" placeholder="Search by Name" id="searchByNameField">
                </div>
            </div>

            <div class="available-cards">
                    {% for user in all_users %}
                    <div class="goFuckYourself{% for interest in user.interests.all %} {{interest.strInterest}}{% endfor %}">
                        {% include 'dashboard/profile-card/mentee_card.html' %}
                    </div>
                    {% endfor %}
            </div>

        </div>

    </div>
</section>

{{ interests|json_script:"interests-dictionary" }}

<script>

    /* These event listeners show/hide the Interests popup when it is clicked on */
    var popupRoot = document.getElementById('popup-root')
    var popup = document.getElementById('popup')
    var popupContent = document.getElementById('inner-popup-content')
    popupRoot.addEventListener("mouseup", event => {
        if (event.target != popupContent && (event.target == popupRoot || event.target.parentNode == popup)) {
            popup.classList.toggle('show')
            
        }
    })

  
    filterInterests = () => {
        console.log('fuck offf asshoole')
        const users = document.getElementsByClassName('goFuckYourself')
        const filter_tags = document.getElementsByClassName('popup-checkbox-item')

        console.log('users')
        console.log(users)
        console.log('filter_tags')
        console.log(filter_tags)

        // Some Experimental Bullshit
        for(const user of users) {
            user.style.display = 'none'
        }

        const selected_filters = []
        for(const interest_filter of filter_tags) {
            if(interest_filter.querySelector('input').checked) {
                const class_of_interest = Array.from(interest_filter.classList).pop(0)
                console.log('hello?')
                selected_filters.push(class_of_interest)
            }
        }

        console.log(selected_filters)
        if(selected_filters.length == 0) {
            for(const user of users)
                user.style.display = 'block'
            return
        }
            

        for (const user of users) {
            console.log('name:' + user.classList)
            // if(Array.from(user.classList).some(i => selected_filters.some(j => j==i)))
            if(Array.from(user.classList).some(className => selected_filters.includes(className))) {
                console.log('this dude roicks')
                user.style.display = 'block'
            }
                
        }
        
        
        
    }
    
    const value = JSON.parse(document.getElementById("interests-dictionary").textContent);
    console.log(value)

    
</script>



{% endblock %}
