{% extends 'index.html' %}

{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mentee_card.css' %}">
{% endblock %}

{% block main_content %}

<section class="hero">
    <div class="hero-container">

        <!-- OLD DEBUG CODE FOR MY PROFILE -->
        <!-- <h2 style="text-align:center;">My Account</h2>
        <form action="/universal_profile/{{session_user.id}}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ session_user.pk }}" />
            <input type="image" class="card-profile-image" alt="Login" src="{{ session_user.profile_img.img.url }}" />
        </form> -->

        <div class="section-recommended">
             {% if session_user.is_mentee %} <!--  role.value == 'Mentee' -->
                <h1>Recommended Mentors</h1>
            {% else %}
                <h1>Recommended Mentees</h1>
            {% endif %}
            <div class="recommended-cards">
                <!-- 5 Cards should be inserted -->
                {% for user in recommended_users %}
                    {% if not user.bln_account_disabled %}
                        {% include 'dashboard/profile-card/mentee_card.html' %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>

        <div class="section-available">

            {% if session_user.is_mentee %}
                <h1>Available Mentors</h1>
            {% else %}
                <h1>Available Mentees</h1>
            {% endif %}

            <div class="available-filters">
                <div class="available-interests-filter">
                    <p>Filter:</p>
                    <div id="popup-root" class="available-interests-filter-box popup">
                        <p>Interests</p>
                        <img class="down-arrow" src="{% static 'images/white-dropdown-arrow.png' %}">

                        <div id='popup' class="popup-inner">
                            <div class="popup-inner-title">
                                <p>Interests</p>
                                <img class="down-arrow" src="{% static 'images/white-dropdown-arrow.png' %}">
                            </div>

                            <div id="inner-popup-content">
                                <div class="popup-search-box">
                                    {% if session_user.is_mentee %}
                                        <input type="text" name="search-interests" placeholder="Search Interests" onkeyup="filterInterestsWithCompany()">
                                    {% else %}
                                        <input type="text" name="search-interests" placeholder="Search Interests" onkeyup="filterInterests()">
                                    {% endif %}
                                </div>

                                <div class="popup-checkboxes">


                                    {% for interest in interests %}
                                        <div class="popup-checkbox-item {{ interest.strInterest }}">
                                            {% if session_user.is_mentee %}
                                                <input type="checkbox" id="cb{{forloop.counter}}" name="{{ interest.strInterest }}" onchange="filterInterestsWithCompany()">
                                            {% else %}
                                                <input type="checkbox" id="cb{{forloop.counter}}" name="{{ interest.strInterest }}" onchange="filterInterests()">
                                            {% endif %}
                                            <label for="cb{{forloop.counter}}">{{interest.strInterest}} ({{interest.mentor_count}})</label>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if user.is_mentee %}
                    <div class="available-search-company">
                        <img class="search-icon" src="{% static 'images/search-icon.png' %}">
                        <input type="text" placeholder="Search by Company" id="searchByCompanyField" oninput="filterInterestsWithCompany()">
                    </div>
                {% endif %}

                <div class="available-search-name">
                    <img class="search-icon" src="{% static 'images/search-icon.png' %}">
                    <input type="text" placeholder="Search by Name" id="searchByNameField" oninput="filterInterests()">
                </div>
            </div>

            <div class="available-cards">
                    {% for user in all_users %}
                    <div class="card available-card {% for interest in user.interests.all %} {{interest.strInterest}}{% endfor %}">
                        {% if user.mentor != None %}
                            <script>console.log('User is apparently a mentor')</script>
                            <script>console.log('{{THE_BIG_LIST}}')</script>
                            {% include 'dashboard/profile-card/mentee_card.html' with IMPORTANT_ID=user.mentor.id %}
                        {% else %}
                            <script>console.log('User is apparently a mentee')</script>
                            <script>console.log('{{THE_BIG_LIST}}')</script>
                            {% include 'dashboard/profile-card/mentee_card.html' with IMPORTANT_ID=user.mentee.id %}
                        {% endif %}
                    </div>
                    {% endfor %}
            </div>

        </div>

    </div>


</section>

{{ interests|json_script:"interests-dictionary" }}

<script src = "{% static 'js/backend_requests.js' %}"></script>
<script>
	//scripts to make the buttons request a mentor


	//start by giving the js script context from djangos back end
	let session_user_id = "{{ session_user.id }}";
	let is_mentee_str = "{{ role }}";
	let is_mentee = is_mentee_str == 'Mentee';
   let has_mentor = "True"=="{{ session_user.has_mentor }}";
</script>
<script src = "{% static 'js/dashboard/dashboard_request_button.js' %}"></script>
<script src = "{% static 'js/dashboard/dashboard.js' %}"></script>
<!--
<script>

    /* These event listeners show/hide the Interests popup when it is clicked on */
    var popupRoot = document.getElementById('popup-root')
    var popup = document.getElementById('popup')
    var popupContent = document.getElementById('inner-popup-content')
    popupRoot.addEventListener("mouseup", event => {
        if (event.target != popupContent && (event.target == popupRoot || event.target.parentNode == popup))
            popup.classList.toggle('show')
    })


    /**
    * Returns an array of the currently selected interests
    */
    function getInterestFilters() {

        const filter_tags = document.getElementsByClassName('popup-checkbox-item')
        const selected_filters = []
        for(const interest_filter of filter_tags)
            if(interest_filter.querySelector('input').checked) 
            {
                const class_of_interest = Array.from(interest_filter.classList).pop(0)
                selected_filters.push(class_of_interest)
            }

        return selected_filters;
    }
  

    /**
    * Filters the displayed user cards based on selected interests and 
    * Username. User fields must match both criteria in order to be 
    * shown.
    */
    filterInterests = () => {
        const users = document.getElementsByClassName('available-card')
        const search_bar = document.getElementById('searchByNameField')
        
        // params
        const search_query = search_bar.value.toLowerCase()
        const selected_filters = getInterestFilters();

        for(const user of users) {

            const username = user.getElementsByClassName('card-name')[0].innerHTML.toLowerCase();

            const does_username_match = username.includes(search_query);
            // i.e. User interests are a subset of selected interests
            const do_interests_match = Array.from(selected_filters).every(filter => Array.from(user.classList).includes(filter));
            if(!does_username_match || !do_interests_match) {
                user.style.display = 'none';
            } else {
                user.style.display = 'block';
            }
        }
    }

    filterInterestsWithCompany = () => {
        const users = document.getElementsByClassName('available-card')
        const search_bar = document.getElementById('searchByNameField')
        const search_by_company = document.getElementById('searchByCompanyField')
        
        // params
        const search_query = search_bar.value.toLowerCase()
        const selected_filters = getInterestFilters();
        const search_company_query = search_by_company.value.toLowerCase()

        for(const user of users) {

            const username = user.getElementsByClassName('card-name')[0].innerHTML.toLowerCase();
            const company = user.getElementsByClassName('card-organization')[0].innerHTML.toLowerCase();

            const does_username_match = username.includes(search_query);
            const does_company_match = company.includes(search_company_query)
            // i.e. User interests are a subset of selected interests
            const do_interests_match = Array.from(selected_filters).every(filter => Array.from(user.classList).includes(filter));
            if(!does_username_match || !does_company_match || !do_interests_match) {
                user.style.display = 'none';
            } else {
                user.style.display = 'block';
            }
        }
    }


    // -------------------- <<< MAKE CARDS CLICKABLE >>> -------------------- \\
    document.addEventListener('DOMContentLoaded', () => {
        const cards = document.getElementsByClassName('card')
        if(cards)
            for (card of cards)
            {
                const profile_form = card.getElementsByTagName('form')[0]
                card.getElementsByClassName('profile-view-zone')[0].addEventListener('click', () => profile_form.submit())
            }
    })
    
</script>
-->


{% endblock %}
