{% extends "sign-in card/big_card.html" %}

{% block title %}
    Account Creation 3 Mentee Sign-In Card
{% endblock %}

{% block card_corner %}
    <form action="">
        <button class="sign_in_top_left_element">←  Step 3 of 4</button>
    </form>
{% endblock %}

{% block card_head %}
    <h1>Select Insterests</h1>
{% endblock %}

{% block card_content %}
    <div class="sign-in-card-content">
        <div class="sign-in-card-element">
            <div class="sign-in-card-form">
                <div class="sign-in-card-interest-container">

                    {% for interest in interestlist %}
                        <label class="sign-in-card-interest">
                            <input type="checkbox" id="{{interest}}" value="{{interest}}">
                            <div class="sign-in-card-interest-label">{{interest}}</div>
                        </label>
                    {% endfor %}

                    <label class="sign-in-card-interest">
                        <button class="sign-in-card-interest-button">+</button>
                    </label>
                    
                </div>
            </div>
        </div>

        <div class="sign-in-card-element">
            <form action="">
                <button class="sign-in-card-button-option">Next</button>
            </form>
        </div>
    </div>
{% endblock %}