{% extends "sign-in card/big_card.html" %}

{% block title %}
    Account Creation 2 Mentor Sign-In Card
{% endblock %}

{% block card_corner %}
    <button class="sign_in_top_left_element">←  Step 2 of 6</button>
{% endblock %}

{% block card_head %}
    <h1>Create your account</h1>
{% endblock %}

{% block card_content %}
    <div class="sign-in-card-content">
        <div class="sign-in-card-element">
            <p class="sign-in-card-text-normal">Email:</p>
            <input type="email" placeholder="e.g. john.doe@domain.com">
        </div>

        <div class="sign-in-card-element">
            <p class="sign-in-card-text-normal">Phone:</p>
            <input type="tel" placeholder="e.g. (555)555-5555">
        </div>

        <div class="sign-in-card-element">
            <p class="sign-in-card-text-normal">Password:</p>
            <input type="password" placeholder="e.g. John Doe">
        </div>

        <div class="sign-in-card-element">
            <button class="sign-in-card-option-button">Next</button>
        </div>
    </div>
{% endblock %}