{% extends "sign-in card/big_card.html" %}

{% block title %}
    Account Creation 1 Mentor Sign-In Card
{% endblock %}

{% block card_corner %}
    <form action="">
        <button class="sign_in_top_left_element">X Step 1 of 6</button>
    </form>
{% endblock %}

{% block card_head %}
    <h1>Create your account</h1>
{% endblock %}

{% block card_content %}
    <div class="sign-in-card-content">
        <div class="sign-in-card-element">
            <p>Name:</p>
            <form action="">
                <input type="text" placeholder="e.g. John Doe">
            </form>
        </div>

        <div class="sign-in-card-element">
            <p>Preferred Pronoun(s):</p>
            <select>
                {% for pronoun in pronounlist %}
                    <option>{{pronoun}}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="sign-in-card-element">
            <form action="">
                <button class="sign-in-card-button-option">Create account</button>
            </form>
        </div>
    </div>
{% endblock %}