{% load static %}

    
    <div id="card-1" class="sign-in-card-content">
        <div class="sign-in-card-element">
            <p>Name:</p>
            <form action="">
                <input type="text" placeholder="e.g. John Doe">
            </form>
        </div>

        <div class="sign-in-card-element">
            <p>Preferred Pronoun(s):</p>
            <select>
                {% for pronoun in pronounlist %}
                    <option>{{pronoun}}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="sign-in-card-element">
            <!-- <form action=""> -->
                <button class="sign-in-card-button-option">Next</button>
            <!-- </form> -->
        </div>
    </div>