    {% load static %}

    <div id="card-0" class="sign-in-card-content">
        <div class="sign-in-card-element-vertical">
            <form class="sign-in-card-form" action="">
                <button class="sign-in-card-button-option" id="sign-in-card-google-btn">
                    <img src="{% static 'images/googlelogo.png' %}" id="google-logo"> Sign up with Google
                </button>
            </form>

            <form class="sign-in-card-form" action="">
                <button class="sign-in-card-button-option" id="sign-in-card-apple-btn">
                    <img src="{% static 'images/image.png' %}" id="apple-logo">Sign up with Apple
                </button>
            </form>

            <form class="sign-in-card-form" action="">
                <button class="sign-in-card-button-option" id="sign-in-card-linkedin-btn">
                    <img src="{% static 'images/linkedinlogo.png' %}" id="linkedin-logo">Sign up with LinkedIn
                </button>
            </form>
        </div>

        <div class="sign-in-card-element-line-container">
            <div class="sign-in-card-element-line"></div>
            <p>or</p>
            <div class="sign-in-card-element-line"></div>
        </div>

        <div class="sign-in-card-element">
            <!-- <form class="sign-in-card-form"> -->
                <button class="sign-in-card-button-option">Create account</button>
            <!-- </form> -->
        </div>
    </div>