{% extends "sign-in card/big_card.html" %}

{% block title %}
    Account Creation 2 Mentee Sign-In Card
{% endblock %}

{% block card_corner %}
<form action="">
    <button type="submit" class="sign_in_top_left_element">←  Step 2 of 4</button>
</form>
{% endblock %}

{% block card_head %}
    <h1>Create your account</h1>
{% endblock %}

{% block card_content %}
    <div class="sign-in-card-content">
        <div class="sign-in-card-element">
            <p>Email:</p>
            <form method="POST" action="">
                <input type="text" placeholder="e.g. john.doe@domain.com">
            </form>
        </div>
        <div class="sign-in-card-element">
            <p>Password:</p>
            <form method="POST" action="">
                <input type="password" placeholder="e.g. John Doe">
            </form>
        </div>
        <div class="sign-in-card-element">
            <form method="POST" action="">
                <input type="button" value="Next">
            </form>
        </div>
    </div>
{% endblock %}