{% extends "sign-in card/big_card.html" %}

{% block title %}
    Account Activation Mentee Sign-In Card
{% endblock %}

{% block card_corner %}
    <form action="">
        <button class="sign_in_top_left_element">X</button>
    </form>
{% endblock %}

{% block card_head %}
    <h1>Create your account</h1>
{% endblock %}

{% block card_content %}
    <div class="sign-in-card-content">
        <div class="sign-in-card-element">
            <p>You must currently be enrolled in either CS or CIS degree at SVSU to be eligible for account creation at this time.</p>
        </div>

        <div class="sign-in-card-element">
            <p>Email:</p>
            <form method="POST" action="">
                <input type="email" placeholder="e.g. john.doe@svsu.edu">
            </form>
        </div>

        <div class="sign-in-card-element">
            <form action="">
                <button class="sign-in-card-button-option">Send Activation Email</button>
            </form>
        </div>
    </div>
{% endblock %}