{% extends "sign-in card/big_card.html" %}

{% block title %}
    Account Creation 2 Mentee Sign-In Card
{% endblock %}

{% block card_corner %}
    <form action="">
        <button class="sign_in_top_left_element">←  Step 2 of 4</button>
    </form>
{% endblock %}

{% block card_head %}
    <h1>Create your account</h1>
{% endblock %}

{% block card_content %}
    <div class="sign-in-card-content">
        <div class="sign-in-card-element">
            <p class="sign-in-card-text-normal">Email:</p>
            <form action="">
                <input type="email" placeholder="e.g. john.doe@domain.com">
            </form>
        </div>

        <div class="sign-in-card-element">
            <p class="sign-in-card-text-normal">Password:</p>
            <form action="">
                <input type="password" placeholder="e.g. John Doe">
            </form>
        </div>

        <div class="sign-in-card-element">
            <form action="">
                <button class="sign-in-card-button-option">Next</button>
            </form>
        </div>
    </div>
{% endblock %}