{% extends "sign-in card/big_card.html" %}

{% block title %}
    Account Creation 1 Mentor Sign-In Card
{% endblock %}

{% block card_corner %}
    <button class="sign_in_top_left_element">X Step 1 of 6</button>
{% endblock %}

{% block card_head %}
    <h1>Create your account</h1>
{% endblock %}

{% block card_content %}
    <div class="sign-in-card-content">
        <div class="sign-in-card-element">
            <p class="sign-in-card-text-normal">Name:</p>
            <input type="text" placeholder="e.g. John Doe">
        </div>

        <div class="sign-in-card-element">
            <p class="sign-in-card-text-normal">Preferred Pronoun(s):</p>
            <select>
                {% for pronoun in pronounlist %}
                    <option>{{pronoun}}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="sign-in-card-element">
            <button class="sign-in-card-option-button">Next</button>
        </div>
    </div>
{% endblock %}