<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Card</title>
  <link rel="stylesheet" type="text/css" href="./card.css">
</head>
<body>
	<main>
	  <div class="test_component">
		  <h1>Create your account</h1>
		  <h2>Select Role</h2>
		  <form method="POST" action="">
			<input type="button" value="Student">
		  </form>
		  <form method="POST" action="">
			<input type="button" value="Mentor">
		  </form>
	  </div>
  </main>
</body>
</html>



<!-- 
	TODO:
	Create variations for that following displays:

	(Use common header but still insert text [CreateAccount/JoinToday])

	Combinations of body:
	{
		h2
		btn
		btn
	},
	{
		input:text
		input:text
		input:text
		btn
	},
	{
		input:text
		input:text, input: spinner
		input:text
		btn
	},
	{

	}



	Standard Template:
	{
		h1
		---
		[
		
			<Insert HTML body req>

				
		]
		btn:next

	}

 -->