{% extends "sign-in card/big_card.html" %}

{% load static %}

{% block title %}
    TESTING
{% endblock %}

{% block card_corner %}
    <form action="">
        <button type="submit" class="sign_in_top_left_element">X</button>
    </form>
{% endblock %}

{% block card_head %}
    <h1>Create your account</h1>
{% endblock %}

{% block card_content %}
    {% include 'sign-in card/account_creation_0_mentor.html' %}
    {% include 'sign-in card/account_creation_1_mentor.html' %}
    {% include 'sign-in card/account_creation_2_mentor.html' %}

    
<script>
    /* These event listeners show/hide the Interests popup when it is clicked on */
    const snippets = document.getElementsByClassName('sign-in-card-content')
    
    for (i of snippets) 
    {
        i.style = 'display: none;'
    }

    let curID = 0

    snippets[0].style = 'display: flex'

    const TEMPORARY_LENGTH = 3

    const buttons = document.getElementsByClassName('sign-in-card-button-option')
    for(button of buttons) 
    {
        button.addEventListener('click', e => {
            snippets[curID].style = 'display: none;'
            curID += 1
            if(curID >= TEMPORARY_LENGTH)
                curID = 0
            snippets[curID].style = 'display: flex;'
            console.log(`Current ID: ${curID}`)
        })
    }
</script>
{% endblock %}