
<div class="sign-in-card-content">
    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">Email:</p>
        <input type="email" id="email" placeholder="e.g. john.doe@domain.com" name="email" title="Enter <prefix>@<domain>.<tld>" maxlength="320">
    </div>

    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">Phone:</p>
        <input type="tel" id="phone" placeholder="e.g. (555)555-5555" title="Enter 10 Numbers" name="phone-number">
    </div>

    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">Password:</p>
        <input type="password" placeholder="e.g. John Doe" title="Enter 8 or more characters" name="password">
    </div>

    <div class="sign-in-card-element">
        <button type="button" class="sign-in-card-option-button">Next</button>
    </div>
</div>