{% extends "sign-in card/big_card.html" %}

{% block title %}
	Account Activation Mentor Sign-In Card
{% endblock %}

{% block card_corner %}
    <button class="sign_in_top_left_element">X</button>
{% endblock %}

{% block card_head %}
    <h1>Mentor Application</h1>
{% endblock %}

{% block card_content %}
    <div class="sign-in-card-content">
        <div class="sign-in-card-element">
            <p class="sign-in-card-text-normal">Thank you for expressing interest in contributing to the growth and development of our community at SVSU by applying to be a mentor. Your willingness to share your experience, knowledge, and guidance is greatly appreciated.</p>
        </div>

        <div class="sign-in-card-element-line-container">
            <div class="sign-in-card-element-line"></div>
        </div>

        <div class="sign-in-card-element">
            <p class="sign-in-card-text-normal">Your application is currently under review. You wuill receive an email update regarding your application status shortly.</p>
        </div>
    </div>
{% endblock %}