<div class="sign-in-card-content">
    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">Company:</p>
        <div>
            <select id="select-company-name" name="company-name" onchange="getValue(id)">
                <option></option>
                {% for company in companyname %}
                <option>
                    {{company.str_org_name}}
                </option>
                {% endfor %}
                <option>Other</option>
            </select>
            <p id="frm-company-warning-message" class="error-message"></p>
        </div>
        <div>
            <input type="text" id="organization" name="organization" placeholder="e.g. ABC Corp." maxlength="100" style="display: none;">
        </div>
        
    </div>

    <div class="sign-in-card-element-horizontal">
        <div>
            <p class="sign-in-card-text-normal">Company Type:</p>
            <select id="select-company-type" name="select-company-type">
                <option></option>
                {% for companytype in companytypelist %}
                    <option>{{companytype}}</option>
                {% endfor %}
            </select>
            <p id="frm-company-type-warning-message" class="error-message"></p>
        </div>
        <div>
            <p class="sign-in-card-text-normal">Experience:</p>
            <select id="select-experience" name="experience">
                <option value=""></option>
                {% for experience in experiencelist %}
                    <option value="{{experience}}">{{experience}}</option>
                {% endfor %}
            </select>
            <p id="frm-experience-warning-message" class="error-message"></p>
        </div>
    </div>

    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">Job Title:</p>
        <input type="text" id="jobTitle" name="jobTitle" placeholder="e.g. Software Developer" maxlength="100">
        <p id="frm-job-title-warning-message" class="error-message"></p>
    </div>

    <div class="sign-in-card-element">
        <button type="button" class="sign-in-card-option-button">Next</button>
    </div>
</div>

<script>
    function getValue(select_id){
        const select_nameElem = document.getElementById(select_id)
        const select_nameText = select_nameElem.options[select_nameElem.selectedIndex].text
        const select_typeElem = document.getElementById("select-company-type")
        const selected_OtherText = 'Other'

        if(select_nameText == selected_OtherText)
        {
            document.getElementById("organization").style.display = 'flex'
        }
        else 
        {
            document.getElementById("organization").style.display = 'none'
            var org_data = JSON.parse('{{ companyLIST|escapejs }}')
            temp_orgObject = org_data.find(obj => obj.str_org_name === select_nameText);

            //  SEE IF AN AUTOFILL CAN BE IMPLEMENTED;
            //  THE INDUSTRY TYPE NEEDS TO DYNAMICALLY BE SELECTED (company type) BASED ON WHICHEVER
            //  ORGANIZATION NAME IS SELECTED (industry type also needs to be saved and be carried over
            //  to every organization object for this to work).
            console.log("Organization: " + temp_orgObject.str_org_name + ", Type: " + temp_orgObject.str_industry_type)
        }
    }
</script>