{% extends "sign-in card/big_card.html" %}

{% block title %}
    Account Activation Mentee Sign-In Card
{% endblock %}

{% block card_corner %}
<form action="">
    <button type="submit" class="sign_in_top_left_element">X</button>
</form>
{% endblock %}

{% block card_head %}
    <h1>Create your account</h1>
{% endblock %}

{% block card_content %}
    <div class="sign-in-card-content">
        <div class="sign-in-card-element">
            <p>The email provided, someone@svsu.edu is not eligible for student account creation at this time.</p>
        </div>
        <div class="sign-in-card-element">
            <p>Currently, the program only accepts students currently enrolled in either CS or CIS degrees at SVSU.</p>
        </div>
        <div class="sign-in-card-element">
            <p>If you believe you meet this criteria, please contact mentorsupport@svsu.edu.</p>
        </div>
        <div class="sign-in-card-element">
            <form method="POST" action="">
                <input type="button" value="Contact">
            </form>
        </div>
    </div>
{% endblock %}