{% extends "sign-in card/big_card.html" %}

{% block title %}
    Role Selection Sign-In Card
{% endblock %}

{% block card_corner %}
    <form action="">
        <button type="submit" class="sign_in_top_left_element">X</button>
    </form>
{% endblock %}

{% block card_head %}
    <h1>Create your account</h1>
{% endblock %}

{% block card_content %}
    <div class="sign-in-card-content">
        <div class="sign-in-card-element">
            <h2>Select Role</h2>
        </div>
        <div class="sign-in-card-element">
            <form method="POST" action="">
                <input type="button" value="Student">
            </form>
        </div>
        <div class="sign-in-card-element">
            <form method="POST" action="">
                <input type="button" value="Mentor">
            </form>
        </div>
    </div>
{% endblock %}