{% extends "sign-in card/big_card.html" %}

{% load static %}

{% block title %}
    Sign Up Mentee TESTING
{% endblock %}

{% block card_corner %}
    <button type="button" class="sign_in_top_left_element" onclick="window.location.href = '/role_selection'">X</button>
{% endblock %}

{% block card_head %}
    <h1>Create your account</h1>
{% endblock %}

{% block card_content %}
    <form class="sign-in-card-form" id="register-form-mentee" action="/register-mentee-test/" method="POST">
        {% csrf_token %}
        {% include 'sign-in card/shared/account_creation_name_pronoun.html' %}
        {% include 'sign-in card/shared/account_creation_email_password.html' %}
        {% include 'sign-in card/shared/account_creation_interests.html' %}
        {% include 'sign-in card/shared/account_creation_user_agreement.html' %}
    </form>
   
    <script>var is_student = true</script>
    <script src="{% static 'js/dynamic_card.js' %}"></script>
    <script src="{% static 'js/validation.js' %}"></script>
{% endblock %}