{% extends "sign-in card/big_card.html" %}

{% load static %}

{% block title %}
    TESTING
{% endblock %}

{% block card_corner %}
    <form action="">
        <button type="submit" class="sign_in_top_left_element">X</button>
    </form>
{% endblock %}

{% block card_head %}
    <h1>Create your account</h1>
{% endblock %}

{% block card_content %}
    <form action="/register-test/" method="POST">
        {% csrf_token %}
        {% include 'sign-in card/shared/account_creation_name_pronoun.html' %}
        {% include 'sign-in card/shared/account_creation_email_password.html' %}
        {% include 'sign-in card/mentor/account_creation_3_mentor.html' %}
        {% include 'sign-in card/shared/account_creation_interests.html' %}
        {% include 'sign-in card/shared/account_creation_user_agreement.html' %}
    </form>

    <script src="{% static 'js/dynamic_card.js' %}"></script>
    <script src="{% static 'js/validation.js' %}"></script>
{% endblock %}