{% extends 'index.html' %}

{% load static %}

{% block title %}
FAQ
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/faq.css' %}">
{% endblock %}

{% block main_content %}
<section class="hero">
    <div class="hero-container">
        {% comment %} About Start {% endcomment %}

        <div class="info">
            <h1>About WINGS</h1>
        </div>

        <div class="sub-info">
            <h2>Our Mission</h2>
        </div>

        <div class="section">
            <div class="answer">
                WINGS is made to empower SVSU CSIS students with the knowledge, 
                guidance, and support they need to thrive in the computing industry. 
                By fostering meaningful connections between students and industry professionals, 
                WINGS aims to cultivate a community of collaboration, growth, and success which will 
                allow students to make informed decisions about their career paths before graduation. 
                <br>
                <br>
                <br>
                Join us in our mission to uplift the next generation of computing professionals. 
                Together, let's spread our wings and soar towards a brighter future in technology. 
            </div>
        </div>

        {% comment %} About End {% endcomment %}

        <div class="info">
            <h1>Frequently Asked Questions</h1>
        </div>


        {% comment %} General Questions Start {% endcomment %}
        <div class="sub-info">
            <h2>General Questions</h2>
        </div>

        <div class="section">
            <h1>How do I change my password?</h1>
            <div class="list-answer">
                <ol>
                    <li>On the navigation bar, click the “Settings” button.</li>
                    <li>Under account settings, click the change password button.</li>
                    <li>In the old password box, type in your old password.</li>
                    <li>In the new password box, type in your new password.</li>
                    <li>Click the “Save Changes” button.</li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h1>How do I edit my profile?</h1>
            <div class="list-answer">
                <ol>
                    <li>On the navigation bar, click the “Profile” button.</li>
                    <li>At the top right corner of the page, click the “Edit” button.</li>
                    <li>You should now be able to edit information on your profile.</li>
                    <li>Once you are done, click the “Save Changes” button.</li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h1>How long will my account remain active?</h1>
            <div class="answer">
                Your account will remain marked as inactive when you have not 
                logged on for 180 days. One week before your account is marked as 
                inactive, you will receive an email reminding you of this change in your account. 
            </div> 
        </div>

        <div class="section">
            <h1>How can I deactivate my account?</h1>
            <div class="list-answer">
                <ol>
                    <li>On the navigation bar, click the “Settings” button.</li>
                    <li>Click the “Deactivate Account” button.</li>
                </ol>
            </div>
        </div>

        {% comment %} General Question End {% endcomment %}

        {% comment %} Mentor Questions Start {% endcomment %}

        <div class="sub-info">
            <h2>Mentor Questions</h2>
        </div>

        <div class="section">
            <h1>How do I request a mentee?</h1>
            <div class="list-answer">
                <ol>
                    <li>On the navigation bar, click the “Dashboard” button.</li>
                    <li>Locate the desired mentee.</li>
                    <li>Click the “Request Mentee” button.</li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h1>How do I change my mentee limit?</h1>
            <div class="list-answer">
                <ol>
                    <li>On the navigation bar, click the “Mentorship Group” button.</li>
                    <li>At the top right corner of the page, click the “Edit” button.</li>
                    <li>In the mentee limit section, click the dropdown menu and select your desired mentee limit.</li>
                    <li>Once you are done, click the “Save Changes” button.</li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h1>How do I view a mentee’s profile?</h1>
            <div class="list-answer">
                <ol>
                    <li>On the navigation bar, click the “Dashboard” button.</li>
                    <li>Locate the desired mentee.</li>
                    <li>Click on any area of the mentee’s card to expand their profile.</li>
                    <li>Once their profile is expanded, you can learn more about them.</li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h1>What’s the difference between a public and a private note?</h1>
            <div class="answer">
                The difference between public and private notes is who can view them. 
                A public note can be viewed by anyone in the mentorship group (students and mentor). 
                A private note can only be viewed by the mentor in charge of the group. 
            </div> 
        </div>

        <div class="section">
            <h1>How do I delete a note from the group page?</h1>
            <div class="list-answer">
                <ol>
                    <li>On the navigation bar, click the “Mentorship Group” button.</li>
                    <li>On the bottom of the page, locate your notes section.</li>
                    <li>Click the “Delete” button of the note that you would like to delete.</li>
                    <li>Click the “Yes” button to confirm that you would like to delete the note.</li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h1>How do I remove a mentee from my group? </h1>
            <div class="list-answer">
                <ol>
                    <li>On the navigation bar, click the “Mentorship Group” button.</li>
                    <li>On the left-hand side of the page, locate the current member's section.</li>
                    <li>Click the “Remove” button to the right of the mentee that you would like to remove from your group.</li>
                    <li>Click the “Yes” button confirming that you would like to remove the mentee from your group.</li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h1>How many mentees can I have?</h1>
            <div class="answer">
                You are allowed to set the limit for how many mentees you think you can actively mentor. 
                To change this limit on your profile, locate the FAQ called “How do I change my mentee limit?”  
            </div> 
        </div>

        {% comment %} Mentor Questions End {% endcomment %}

        {% comment %} Student Questions Start {% endcomment %}

        <div class="sub-info">
            <h2>Student Questions</h2>
        </div>

        <div class="section">
            <h1>How do I request a mentor?</h1>
            <div class="list-answer">
                <ol>
                    <li>On the navigation bar, click the “Dashboard” button.</li>
                    <li>Locate the desired mentors.</li>
                    <li>Click the “Request Mentor” button.</li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h1>How do I view a mentor’s profile?</h1>
            <div class="list-answer">
                <ol>
                    <li>On the navigation bar, click the “Dashboard” button.</li>
                    <li>Locate the desired mentor.</li>
                    <li>Click on any area of the mentor’s card to expand their profile.</li>
                    <li>Once their profile is expanded, you can learn more about them.</li>
                </ol>
            </div>
        </div>
        
        <div class="section">
            <h1>What will happen when I graduate?</h1>
            <div class="answer">
                Once you graduate, you will be removed from the list of available mentees. 
                If you decide you would like to join WINGS again as a mentor, you can create a mentor account.  
            </div> 
        </div>

        <div class="section">
            <h1>How do I remove myself from a mentorship?</h1>
            <div class="list-answer">
                <ol>
                    <li>On the navigation bar, click the “Mentorship Group” button.</li>
                    <li>Next to the group name, click the “Leave Group” button.</li>
                    <li>Click the “Yes” button to confirm that you would like to leave the mentorship group.</li>
                </ol>
            </div>
        </div>

        <div class="section">
            <h1>Can I have multiple mentors?</h1>
            <div class="answer">
                Each mentee is only allowed to have one mentor at a time. 
                If you would like to request a mentor, locate the “How do I request a mentor?” 
                FAQ and if you would like to leave a mentorship, locate the “How do I remove myself from a mentorship?” 
                FAQ.   
            </div> 
        </div>

        <br><br>

        {% comment %} Student Questions End {% endcomment %}

        {% comment %} Contact Information Start {% endcomment %}

        <div class="sub-info">
            <h2>Contact Information</h2>
        </div>

        <div class="section">
            {% comment %} <h1>What will happen when I graduate?</h1> {% endcomment %}
            <div class="answer">
                For any further questions or requests for support, please contact us at <u>wings@svsu.edu</u>
            </div> 
        </div>

        {% comment %} Contact Information Start {% endcomment %}
        
        <br><br><br>
    </div>
</section>

<script src='{% static "js/backend_requests.js" %}'></script>

{% endblock %}

