<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/BLOCK - PANTONE 187C.png' %}" />

  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  {% block style %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}

    <div id="loading-overlay">
        <div class="loading"></div>
    </div>

	<main>
        {% block main_content %}{% endblock %}
    </main>

    <footer>
        <p>&copy;<span id="current-year"></span> Saginaw Valley State University</p>
    </footer>

    <script type = 'module' src='{% static "js/navigation/nav_logic.js" %}'></script>
</body>

<!-- Doesn't feel like enough to warrant an individual JS File -->
<script>
    // Show current year on bottom of the page
    document.addEventListener('DOMContentLoaded', ()=>{
        const currentYear = new Date().getFullYear();
        document.getElementById('current-year').textContent = currentYear;
    });


    // -------------------- ----------------------- -------------------- \\
    // -------------------- <<< LOADING OVERLAY >>> -------------------- \\
    // -------------------- ----------------------- -------------------- \\

    const load_overlay = document.getElementById('loading-overlay')
    
    // Assuming overlay exists...
    if(load_overlay)
    {
        // Show overlay when navigating away from current page
        window.onbeforeunload = () => {
            load_overlay.style.display = 'block'
            return undefined
        };

        // Remove overlay when a new page is being shown
        window.onload = () => {
            load_overlay.style.display = 'none'
            return undefined
        }

        // If a page data was cached, ensure overlay is removed when reloaded
        window.addEventListener('pageshow', () => {
            load_overlay.style.display = 'none'
            return undefined
        });

        
    }
</script>
</html>

