<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/BLOCK - PANTONE 187C.png' %}" />

  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  {% block style %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}

    <div id="loading-overlay">
        <div class="loading"></div>
    </div>

	<main>
        {% block main_content %}{% endblock %}
    </main>

    <footer>
        <p>&copy;<span id="current-year"></span> Saginaw Valley State University</p>
    </footer>

<script src='{% static "js/navigation/nav_logic.js" %}'></script>
</body>
<!-- Script to Append Current Year to bottom of page -->
<script>
    document.addEventListener('DOMContentLoaded', ()=>{
        const currentYear = new Date().getFullYear();
        document.getElementById('current-year').textContent = currentYear;
    });

    const load_overlay = document.getElementById('loading-overlay')
    
    if(load_overlay)
    {
        window.onbeforeunload = () => {
            load_overlay.style.display = 'block'
            return undefined
        };

        window.onload = () => {
            load_overlay.style.display = 'none'
            return undefined
        }

        window.addEventListener('pageshow', () => {
            load_overlay.style.display = 'none'
            return undefined
        });

        
    }
</script>

<!-- script used to check if light mode is turned on -->
<script>
    theme = localStorage.getItem('theme');

    if (theme) {
        document.body.classList.add(theme);
    }
</script>
</html>

