{% extends 'index.html' %}

{% load static %}

{% block title %}
    WINGS
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}">
{% endblock %}

{% block main_content %}
<section class="hero">
    <div class="hero-container">
        <div class="column-left">
            <h1>Empower the Next Generation of Tech Innovators</h1>
            <p>Join a thriving community of professionals dedicated to shaping the future of computer science. 
            Your experience can inspire, guide, and empower the next generation of innovators.</p>   
        </div>
        <div class="column-right">
            <div class="portal">
                <form id="frm-login" action="/landing-post/" method="POST">
                    {% csrf_token %}
                    <div class="prompt-login">
                        <div class="circle-logo-container">
                            <img src="{% static 'images/wings_logo_FV.png' %}" id="li-wings-logo" alt="WINGS Logo">
                        </div>
                        <h1>Sign in to WINGS</h1>
                    </div>
                    <div class="line"></div>

                    <button type="button" class="login-buttons" id="show-li-btn">Mentor Tools</button>

                    <div class="email-password-fields" style="display:none">
                        <input type="email" id="email" name="email" placeholder="Email">
                        <div class="password-container">
                            <input type="password" id="password" class="password-hidden" name="password" placeholder="Password">
                            <button type="button" id="togglePassword">
                                <!-- SVG for visibility on (show this by default) -->
                                <svg id="visibilityOnIcon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                                    <path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/>
                                </svg>
                                <!-- SVG for visibility off (hide this by default) -->
                                <svg id="visibilityOffIcon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                                    <path d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z"/>
                                </svg>
                            </button>
                        </div>
                        <button type="button" class="login-buttons" id="li-btn" style="width:80%;margin:.5em auto;height:2em;">Mentor Login</button>
                        <p id="frm-warning-message" class="error-message"></p>
                        <div id="forgot-password-container">
                            <p id="su-p"><span id="su-span">Don't have an account?</span> <span class="text-btn" tabindex="0"><a class="text-btn" id="su-link" href="/role_selection">Sign Up</a></span></p>
                            <p><span class="text-btn" id="forgot-pass-btn" tabindex="0">Forgot Password?</span></p>
                        </div>
                        <div class="line"></div>
                    </div>
                    <!-- DONT CHANGE THIS ID. CRUCIAL FOR JAVASCRIPT EXECUTION -->
                    <!-- FUTHERMORE, DONT CHANGE ANY ID WITHOUT THOROUGHLY CHECKING FOR OTHER CRITICAL OCCURANCES -->
                    <button type="button" class="login-buttons" id="svsu-li-btn">SVSU Portal</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% include 'password-modals/forgot-pass-modal-1.html' %}

<script src = '{% static "js/backend_requests.js" %}'></script>
<script src = '{% static "js/landing_page/login_form.js" %}'></script>
<script type = 'module' src = '{% static "js/landing_page/forgot_pass_modals.js" %}'></script>
<script src = '{% static "js/landing_page/password_visibility.js" %}'></script>

<script>

    // Ensure Enter button presses initiate a button click instead of implicit form submission
    var input = document.getElementById("frm-login");
    input.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("li-btn").click();
        }
    });
    
    // Show relevant input fields for mentors when following their login workflow
    const mentor_input_fields = document.getElementsByClassName('email-password-fields')[0]
    document.getElementById('show-li-btn').addEventListener('click', () => {
        if(mentor_input_fields.style.display == 'block')
            mentor_input_fields.style.display = 'none'
        else
            mentor_input_fields.style.display = 'block'
    })
</script>

{% endblock %}
