{% extends 'index.html' %}

{% load static %}

{% block title %}
    WINGS
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}">
{% endblock %}

{% block main_content %}
<section class="hero">
    <div class="hero-container">
        <div class="column-left">
            <h1>Empower the Next Generation of Tech Innovators</h1>
            <p>Join a thriving community of professionals dedicated to shaping the future of computer science. 
            Your experience can inspire, guide, and empower the next generation of innovators.</p>   
        </div>
        <div class="column-right">
            <div class="portal">
                <form id="frm-login" action="/landing-post/" method="POST">
                    {% csrf_token %}
                    <div class="prompt-login">
                        <h1>Login to start your journey</h1>
                    </div>
                    <div class="line"></div>

                    <div class="email-password-fields">
                        <input type="email" id="email" name="email" placeholder="Email">
                        <input type="password" id="password" name="password" placeholder="Password">
								<p id="frm-warning-message" class="error-message"></p>
                        <div id="forgot-password-container">
                            <p><span class="text-btn" id="forgot-pass-btn" tabindex="0">Forgot Password?</span></p>
                        </div>
                    </div>
                    <!-- DONT CHANGE THIS ID. CRUCIAL FOR JAVASCRIPT EXECUTION -->
                    <!-- FUTHERMORE, DONT CHANGE ANY ID WITHOUT THOROUGHLY CHECKING FOR OTHER CRITICAL OCCURANCES -->
                    <button type="button" class="login-buttons" id="li-btn">Login</button>
                    <p><span id="su-span">Don't have an account?</span> <span class="text-btn" tabindex="0"><a class="text-btn" id="su-link" href="/role_selection">Sign Up</a></span></p>
                </form>
            </div>
        </div>
    </div>
</section>

{% include 'password-modals/forgot-pass-modal-1.html' %}

<script src = '{% static "js/backend_requests.js" %}'></script>
<script src = '{% static "js/landing_page/login_form.js" %}'></script>
<script src = '{% static "js/landing_page/forgot_pass_modals.js" %}'></script>
<script>
    var input = document.getElementById("frm-login");
    input.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("li-btn").click();
        }
    });
    
</script>

{% endblock %}
