{% extends 'index.html' %}

{% load static %}

{% block title %}
    WINGS
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}">
{% endblock %}

{% block main_content %}
<section class="hero">
    <div class="hero-container">
        <div class="column-left">
            <!-- Left Empty -->   
        </div>
        <div class="column-right">
            <div class="portal">
                <form id="frm-login" action="/landing-post/" method="POST">
                    {% csrf_token %}
                    <div class="prompt-login">
                        <h1>WINGS Authentication</h1>
                    </div>
                    <div class="line"></div>

                    <div class="email-password-fields">
                        <p>We've sent an email containing your verification code.</p>
                        <input type="password" id="password" name="password" placeholder="Please enter your verification code">
								<p id="frm-warning-message" class="error-message"></p>
                    </div>
                    <!-- DONT CHANGE THIS ID. CRUCIAL FOR JAVASCRIPT EXECUTION -->
                    <!-- FUTHERMORE, DONT CHANGE ANY ID WITHOUT THOROUGHLY CHECKING FOR OTHER CRITICAL OCCURANCES -->
                    <button type="button" class="login-buttons" id="mfa-btn">Verify</button>
                    <p id="su-p"><span id="su-span">Resend passcode:</span> <span class="text-btn" tabindex="0"><a class="text-btn" id="su-link" href="/mentor/2fa">click here</a></span></p>
                </form>
            </div>
        </div>
    </div>
</section>

{% include 'password-modals/forgot-pass-modal-1.html' %}

<script src = '{% static "js/backend_requests.js" %}'></script>
<script src = '{% static "js/mentor_mfa/mentor_verify.js" %}'></script>

<script>
    var input = document.getElementById("frm-login");
    input.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("li-btn").click();
        }
    });
    
</script>

{% endblock %}
