{% extends 'index.html' %}

{% load static %}

{% block title %}
    Mentor Applicant Approval
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pending_mentors.css' %}">
{% endblock %}

{% block main_content%}

<!-- link with back-arrow, currenlty does nothing -->
    <div class="link-container">
        <a href="" class="return-link">
            <img src="../static/images/left-arrow.png" alt="" class="left-arrow">
            Admin Dashboard / Mentor Applications
        </a>

        <div class="title">
            Mentor Application
        </div>
    </div>

    <!-- container that holds all mentors under review -->
    <div class="mentor-applicants-container">
        
        <!-- row for an individual mentor in the display container -->
        
        {% for user in pending_mentors %}
        <div class="mentor-applicant" mentor-id="{{user.id}}">

            <div class="profile-picture-container">
                <img src="../static/images/ex-pfp.jpg" alt="" class="profile-picture">
            </div>
            
            <div class="mentor-name">
                {{user.str_first_name}} {{user.str_last_name}}
            </div>

            <form action="">
                <button>
                    View
                </button>
            </form>

            <form action="">
                <button status="Approved">
                    Approve
                </button>
            </form>

            <form action="">
                <button status="Delete">
                    Delete
                </button>
            </form>
        </div>

        {% endfor %}
    </div>
    

<script src = "{% static 'js/backend_requests.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const mentorForms = document.querySelectorAll('.mentor-applicant');
        mentorForms.forEach(form => {
            const mentorId = form.getAttribute('mentor-id');
            form.addEventListener('click', function(event) {
                event.preventDefault();
                const target = event.target;
                const status = target.getAttribute('status');
                if (status) {
                    admin_mentor_request(mentorId, status)
                        .then(response => {
                            location.reload()
                        })
                        .catch(error => {
                            console.error(error);
                        });
                }
            });
        });
    });

</script>



{% endblock %}