{% extends 'index.html' %}

{% load static %}

{% block title %}
Reset Password
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block main_content %}
<div class="reset-card">
    <div class="grid-container">
        <div class="link-container">
            <a href="/" class="home-link">
                <img src="{% static 'images/icons/house_with_door.svg' %}" alt="Home" class="home-icon">
                <span class="home-text">Back to home!</span>
            </a>
        </div>
        <div class="title">
            Request Password Reset
        </div>
        <div class="input-email-container">
            <form action="/reset_password/" method="post">
                {% csrf_token %}
                <input type="email" class="email-field" placeholder="Enter your email" id="email" name="email" required>
                <input type="text" class="token-field" placeholder="Enter token" id="token" name="token" required>
                <input type="submit" value="Submit" class="submit-button">

            </form>
        </div>
    </div>
</div>
{% endblock %}
