{% extends 'index.html' %}

{% load static %}

{% block title %}
Settings
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block main_content %}

<div class="sign-in-card">
    <div class="grid-container">
        <!-- container for back arrow -->
        <div class="link-container" style="margin: 2em; border-bottom: 2px solid white;">
            <a href="/" class="return-link">
                <img src="../static/images/left-arrow.png" alt="" class="left-arrow">
                Back
            </a>
        
            <div class="title">
                Settings
            </div>
        </div>

        <!-- container for change password -->
        <div class="accordion-container">
            <input type="checkbox" id="chk-change-password" class="accordion-input">
            <label for="chk-change-password" class="accordion-header">
                Change Password
            </label>
            <div class="accordion-content">
                <form action="">               
                    <input type="password" class="password-field" placeholder="Old Password" id="old-password">
                    <input type="password" class="password-field" placeholder="New Password" id="new-password1">
                    <input type="password" class="password-field" placeholder="Confirm Password" id="new-password2">
                    <input type="submit" value="Confirm" class="btn-change-password"> 
                </form>
            </div>
        </div>

        <!-- container for lightmode/darkmode toggle -->
        <div class="theme-toggle-container">
            <h1>Dark / Light</h1>
            <label class="switch">
                <input type="checkbox" id="toggler">
                <span class="slider" id="slider"></span> 
            </label>
        </div>

        <!-- container for deactivating account -->
        <div class="deactivate-account-container">
            <form action="">
                <input type="submit" value="Deactivate Account" class="btn-deactivate-account">
            </form>
        </div>
        
    </div>

</div>




<script src="{% static 'js/toggle_darkmode.js' %}"></script>


{% endblock %}