{% extends 'index.html' %}

{% load static %}

{% block title %}
Mentor Group View
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mentor_group_view.css' %}">
{% endblock %}

{% block main_content %}

<section class="hero">
    <div class="hero-container">
        <form>
            <div class="column-left">
                <img src="../../static/images/ex-pfp.jpg" class="profile-picture">
                <!-- Insert IF statment -->
                <!-- IF student has mentor, display them -->
                
                {% if mentor != None %}
                <h3>Mentor:</h3>
                <ul>
                    <li class="mentee-manager">
                            <p>{{mentor.str_first_name}} {{mentor.str_last_name}}</p>
                            {% if is_page_owner == True %}
                                <button class="button-mentee-remove">Remove</button>
                            {% endif %}
                    </li>
                </ul>
                {% endif %}
    
                <br>
                <hr>
                <br>
    
                <h3>Requests:</h3>
                <ul>
                    <li class="mentee-manager">
                            <h4>incoming mentee</h4>
                            {% if is_page_owner == True %}
                                <button class="button-mentee-remove">Remove</button>
                            {% endif %}
                    </li>
                </ul>
            </div>
            <div class="column-right">
                <div class="row-titles">
                    <div class="top-title">
                        <h1>{{page_owner_user.str_first_name}} {{page_owner_user.str_last_name}}</h1>
                        {% if is_page_owner == True %}
                        <span>
                            <button class="button-edit" id="button-edit">Edit Page</button>
                            <button class="button-cancel" id="button-cancel" style="display: none;" id="button-cancel">Cancel</button>
                        </span>
    
                        {% endif %}
                    </div>
    
                    {% if page_owner_user.str_preferred_pronouns != None %}
                        <h4>{{page_owner_user.str_preferred_pronouns}}</h4>
                    {% endif %}
    
                    <h2>{{page_owner_mentee.str_job_title}}</h2> 
                    <h3>{{organization}}</h3> 
                    <h2>Interests:</h2>
                    <div class="specialties">
                        {% for interest in interests %}
                            <button class="user_interests" id="{{interests}}">{{interest}}</button>
                        {% endfor %}
                        {% for interest in all_interests %}
                            {% if interest not in interests %}
                                <button class="hidden_interests" style="display: none;" id="interest.strInterest">{{interest.strInterest}}</button>
                            {% endif %}
                        {% endfor %}
    
                    </div>
                    
                </div>
                <hr>
                <div class="row-communication-methods">
                    <h2>Communication Method:</h2>
                    <p>Email: {{page_owner_user.cls_email_address}}</p>
                </div>
                <hr>
                <div class="row-overview">
                    <h2>Overview:</h2>
                    <textarea class="note" id="bio" name="bio" rows="20" cols="200" readonly>
                        {{page_owner_user.str_bio}}
                    </textarea>
                </div>
            </div>
        </form>
    </div>
</section>
    
<script>
document.getElementById('button-edit').addEventListener('click', function() {
    //Save button bullshit and shananiganz
    let editBtn = document.getElementById("button-edit")
    let editState = editBtn.textContent === "Edit Page"
    let cancelBtn = document.getElementById("button-cancel")

    //Editable field fuckshit
    let bioTextArea = document.getElementById("bio")
    let allInterestsButtons = document.querySelectorAll(".hidden_interests")
    let user_interests = document.querySelectorAll(".user_interests")

  

    cancelBtn.addEventListener('click', function(){
        location.reload()
    })
    if(editState){
        //Make all fields (that should be) editable and change the save button
        editBtn.textContent = "Save"
        allInterestsButtons.forEach(function(button) {
            button.style.display = "inline-block";
        });

        cancelBtn.style.display = "inline-block"


        bioTextArea.readOnly = false
        
    }
    else{
        editBtn.textContent = "Edit Page"
        allInterestsButtons.forEach(function(button) {
            button.style.display = "none";
        });
        bioTextArea.readOnly = true
        cancelBtn.style.display = "none"
       
    }

});
</script>


{% endblock %}