<dialog class="modal" id="note-creator-modal">
    <header class="modal-header"><img src="../static/images/x-16.png" alt="Exit Note Creation" class="modal-exit" id="modal-exit" tabindex="0"></header>
    <div class="modal-container">
        <form action="{% url 'create_note' %}" class="frm-note-creator" method="post">
            {% csrf_token %}
            <h2>Note Creator</h2>
            <div class="modal-line"><hr></div>

            <div class="container">
                <h3 class="heading">Note Title:</h3>
                <input type="text" id="note-title-input" name="note-title" value="" class="user-input" placeholder="">
            </div>
            
            <div class="container">
                <h3 class="heading">Public Notes:</h3>
                <p class="subheading">Notes visible to anyone with access to group page.</p>
                <textarea id="public-notes" rows="12" name="public-notes" value="" class="user-input"></textarea>
            </div>

            <div class="container">
                <h3 class="heading">Private Notes:</h3>
                <p class="subheading">Notes only visible to you and administrators.</p>
                <textarea id="private-notes" rows="12" name="private-notes" value="" class="user-input"></textarea>
            </div>
            
            <button type="submit" id="btn-create-note">Create Note</button>
        </form>
    </div>
</dialog>