{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">

<dialog class="modal" id="report-modal">
    <header class="modal-header"><img src='../static/images/x-16.png' alt="exit" class="modal-exit" id="modal-exit" tabindex="0"></header>

    <div class="modal-container">
        <form id="frm-report" action="/report_user/" method="POST">
            {% csrf_token %}

            <h2>Report User</h2>
            <div class="modal-line"><hr></div>

            <p>Select type of report:</p>
            <select type="select" id="report-type" name="report_type" required="required">
                {% for type in report_types %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>

            <p>Enter report reason:</p>
            <textarea id="report-reason" rows="4" class="user-input" name="report_reason" required="required"></textarea>
            <input type="hidden" id="reported-user-id" name="reported_user_id" value="{{page_owner_user.id}}">

            <button id="btn-report-submit" class="btn-modal-submit" type="submit">Sumbit Report</button>
        </form>    
    </div>  
</dialog>