{% load static %}

<div class="sign-in-card-content">
    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal" id="email-prompt">Email:</p>
        <input {% if is_mentee %}readonly value="{{user.email}}"{% endif %} type="email" id="email" name="email" placeholder="e.g. john.doe@domain.com" title="{{menteeEmailMessage}}">
        <p id="frm-email-warning-message" class="error-message"></p>
    </div>

    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">Phone:</p>
        <select size="1" id="phone_country_code" name="phone_country_code">
            {% for code in country_codes %}
            <option value="{{ code.dial_code }}">{{ code.dial_code }}</option>
            {% endfor %}
        </select>
        <input type="tel" id="phone" name="phone" placeholder="e.g. (555)555-5555">
        <p id="frm-phone-warning-message" class="error-message"></p>
    </div>

    {# hide password if user is populated (mentee is signing up using SAML) #}
    <div class="sign-in-card-element" {% if user %} style="display:none" {% endif %}>
        <p class="sign-in-card-text-normal">Password:</p>
        <div class="password-holder">
            <input type="password" name="password" id="password" {% if user %} value="{{random_password}}" {% endif %} placeholder="e.g. Abc!23xyz789#">
            <i id="toggle-password"><img id="testertest" src="{% static 'images/icons/eye-open - Copy.png' %}"></i>
            <p id="frm-password-warning-message" class="error-message"></p>
        </div>
    </div>

    <div class="sign-in-card-element">
        <button type="button" class="sign-in-card-option-button" id="next-btn">Next</button>
    </div>
</div>

<script>
    var emailInput;
    var emailPrompt;
    var nextButton;
    var phoneInput;
    var passwordInput;
    var emailParts;

    const emailNameRegex = /[!#$%^&*()+\[\]{}|\\;:'",<>\/?=~`]/;

    const email_error_message = 'Email cannot contain special characters in name'

    emailInput = document.getElementById('email');
    emailPrompt = document.getElementById('email-prompt');
    nextButton = document.getElementById('next-btn');
    phoneInput = document.getElementById('phone');
    passwordInput = document.getElementById('password');

    emailInput.addEventListener('input', function () {
        emailText = emailInput.value;
        
        emailParts = emailText.split("@");

        if (emailParts.length === 2 && emailNameRegex.test(emailParts[0])) {
            emailPrompt.innerText = 'Email: ' + email_error_message;
            nextButton.disabled = true;
            phoneInput.disabled = true;
            passwordInput.disabled = true;
        }
        else {
            emailPrompt.innerText = 'Email:';
            nextButton.disabled = false;
            phoneInput.disabled = false;
            passwordInput.disabled = false;
        }
    });
    
</script>

<!-- FOR THE LOVE OF GOD MOVE THIS EVENTUALLY -->
<!-- I KNOW THIS IS BAD I JUST NEED TO TEST :( -->

<!-- Not enough time in the day bro... -->

<!-- Also, this code makes it so you can show/hide your password while writing it -->
<script>
    const passImg = document.getElementById('toggle-password')
    const actualyImage = document.getElementById('testertest')
    const input_password = document.getElementById('password')

    passImg.addEventListener('click', e => {
        console.log('clicked')
        if (input_password.type === "password") {
            input_password.type = "text";
            actualyImage.src = actualyImage.src.replace('open', 'closed')
          } else {
            input_password.type = "password";
            actualyImage.src = actualyImage.src.replace('closed', 'open')
          }
    })
</script>