{% load static %}

<div class="sign-in-card-content">
    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal" id="email-prompt">Email:</p>
        <input {% if is_mentee %}readonly value="{{user.email}}"{% endif %} type="email" id="email" name="email" placeholder="e.g. john.doe@domain.com" title="{{menteeEmailMessage}}">
        <p id="frm-email-warning-message" class="error-message"></p>
    </div>

    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">Phone:</p>
        <select size="1" id="phone_country_code" name="phone_country_code">
            {% for code in country_codes %}
            <option value="{{ code.dial_code }}">{{ code.dial_code }}</option>
            {% endfor %}
        </select>
        <input type="tel" id="phone" name="phone" placeholder="e.g. (555)555-5555">
        <p id="frm-phone-warning-message" class="error-message"></p>
    </div>

    {# hide password if user is populated (mentee is signing up using SAML) #}
    <div class="sign-in-card-element" {% if user %} style="display:none" {% endif %}>
        <p class="sign-in-card-text-normal">Password:</p>
        <div class="password-holder">
            <input type="password" name="password" id="password" {% if user %} value="{{random_password}}" {% endif %} placeholder="e.g. Abc!23xyz789#">
            <i class="password-visibility" id="toggle-password"><img id="testertest" src="{% static 'images/icons/eye-open - Copy.png' %}"></i>
            <p id="frm-password-warning-message" class="error-message"></p>
        </div>
    </div>

    <div class="sign-in-card-element" {% if user %} style="display:none" {% endif %}>
        <p class="sign-in-card-text-normal">Confirm Password:</p>
        <div class="password-holder">
            <input type="password" id="confirm-password" {% if user %} value="{{random_password}}" {% endif %}  placeholder="e.g. Abc!23xyz789#">
            <i class="password-visibility" id="toggle-confirm-password"><img id="confirm-eye-image" src="{% static 'images/icons/eye-open - Copy.png' %}"></i>
            <p id="frm-confirm-password-warning-message" class="error-message"></p>
        </div>
    </div>

    <div class="sign-in-card-element">
        <button type="button" class="sign-in-card-option-button" id="next-btn" >Next</button>
    </div>
</div>

<script>
    var emailInput = document.getElementById('email');
    var emailPrompt = document.getElementById('email-prompt');
    var nextButton = document.getElementById('next-btn');
    var phoneInput = document.getElementById('phone');
    var passwordInput = document.getElementById('password');
    var emailParts;
    var email_error_message;

    //emailNameRegex allows the alphabet, numbers, periods, dashes, and underscores
    const emailNameRegex = /^[a-zA-Z0-9._-]+$/;
    //emailDomainNameRegex allows the alphabet, numbers, periods, and dashes
    const emailDomainNameRegex = /^[a-zA-Z0-9.-]+$/;
    //emailTLDRegex must start with a period and only contain the alphabet
    const emailTLDRegex = /.[a-zA-Z]{2,}/;

     email_error_message = 'Invalid Email Format'

    emailInput.addEventListener('input', () => {
        emailText = emailInput.value;
        
        //parse email into name, domain and TLD, because they all have different rules
        emailParts = emailText.split("@");
        var emailDomain = emailParts[1].split(".");
        emailParts[1] = emailDomain[0];
        emailParts[2] = emailDomain[1];

        //if any parts of email are not formatted correctly, display message to user and don't let them move on
        if (!emailNameRegex.test(emailParts[0]) || !emailDomainNameRegex.test(emailParts[1]) || !emailTLDRegex.test(emailParts[2])) {
            emailPrompt.innerText = 'Email: ' + email_error_message;
            nextButton.disabled = true;
            phoneInput.disabled = true;
            passwordInput.disabled = true;
        }
        else {
            emailPrompt.innerText = 'Email:';
            nextButton.disabled = false;
            phoneInput.disabled = false;
            passwordInput.disabled = false;
        }
    });
    
    /*
    function validateForm(event) {
        let password = document.getElementById("password").value;
        let password_confirm = document.getElementById("confirm-password").value; // 🤑🤑🤑
        let message = document.getElementById("frm-confirm-password-warning-message")
        
        // Check if new passwords match
        if (password !== password_confirm) {
            event.preventDefault()
            message.innerHTML = "Passwords don't match"
            message.style.display = "inline-block"
        }
    }*/
</script>

<!-- FOR THE LOVE OF GOD MOVE THIS EVENTUALLY -->
<!-- I KNOW THIS IS BAD I JUST NEED TO TEST :( -->

<!-- Not enough time in the day bro... -->

<!-- Also, this code makes it so you can show/hide your password while writing it -->
<script>
    const password_toggle_wrapper = document.getElementById('toggle-password')
    const confirm_password_toggle_wrapper = document.getElementById('toggle-confirm-password')

    const eye_image = document.getElementById('testertest')
    const eye_image_confirm = document.getElementById('confirm-eye-image')

    const input_password = document.getElementById('password')
    const input_confirm_password = document.getElementById('confirm-password')

    password_toggle_wrapper.addEventListener('click', e => {
        if (input_password.type === "password") {
            input_password.type = "text";
            eye_image.src = eye_image.src.replace('open', 'closed')
          } else {
            input_password.type = "password";
            eye_image.src = eye_image.src.replace('closed', 'open')
          }
    })

    confirm_password_toggle_wrapper.addEventListener('click', e => {
        if (input_confirm_password.type === "password") {
            input_confirm_password.type = "text";
            eye_image_confirm.src = eye_image_confirm.src.replace('open', 'closed')
          } else {
            input_confirm_password.type = "password";
            eye_image_confirm.src = eye_image_confirm.src.replace('closed', 'open')
          }
    })
</script>