<div class="sign-in-card-content">
    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">First Name:</p>
        <input {% if is_mentee %}readonly value="logan"{% endif %} type="text" placeholder="e.g. John" name="fname" id="fname" maxlength="50">
        <p id="frm-first-name-warning-message" class="error-message"></p>
    </div>

    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">Last Name:</p>
        <input {% if is_mentee %}readonly value="zipp"{% endif %} type="text" placeholder="e.g. Doe" name="lname" id="lname" maxlength="50">
        <p id="frm-last-name-warning-message" class="error-message"></p>
    </div>

    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">Preferred Pronoun(s):</p>
        <select name="pronouns1" id="pronoun-one">
            {% for pronoun in pronounlist1 %}
                <option>{{pronoun}}</option>
            {% endfor %}
        </select>
        <select name="pronouns2" id="pronoun-two">
            {% for pronoun in pronounlist2 %}
                <option>{{pronoun}}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="sign-in-card-element">
        <button type="button" class="sign-in-card-option-button" id="next-btn">Next</button>
    </div>
</div>