<div class="sign-in-card-content">
    <div class="sign-in-card-element">
        <div class="sign-in-card-user-agreement-containter">
            <p class="sign-in-card-text-scroll">
                {{ useragreement }}
            </p>
        </div>
    </div>

    <div class="sign-in-card-element-horizontal">
        <p class="sign-in-card-agreement-text">I have read and accept the terms of the User Agreement.</p>
        <input class="sign-in-card-agreement-checkbox" type="checkbox" id="useragreement">
    </div>

    <div class="sign-in-card-element">
        <button type="button" id="btnUserAgree" class="sign-in-card-option-button">Submit Application</button>
    </div>
</div>