{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sign-in card/account_creation_interests.css' %}">
{% endblock %}

<div class="sign-in-card-content">
    <h2 style="font-size: 1.75em; margin: 0.5em;">Select Interests</h2> <!-- TODO: PUT THIS CSS IN A DIFFERENT FILE | IM SORRY -->
    <div class="sign-in-card-element">
        <div class="sign-in-card-form">
            <div class="sign-in-card-interest-container" id="interest-container">
                {% for interest in interestlist %}
                    <label class="sign-in-card-interest">
                        <input type="checkbox" class="chk-interest" name ="selected_interests" id="{{interest.strInterest}}" value="{{interest.strInterest}}">
                        <div class="sign-in-card-interest-label">{{interest.strInterest}}</div>
                    </label>
                {% endfor %}                
            </div>
        </div>
    </div>
    <div class="sign-in-card-element">
        <button type="button" class="sign-in-card-option-button" id="next-btn">Next</button>
    </div>
    <!-- <input type="hidden" id="interests" name="interests"/> -->
</div>

<script>
    console.log("loading interest hooks...");

    const dynamic_check_marks = document.getElementsByClassName("chk-interest");
    const hidden_interest_input = document.getElementById("interests");
    

    // console.log("\twe found " + dynamic_check_marks.length + " check marks");

    function sync_hidden_interest_input() {
        //console.log("BEFORE THE INTEREST ROUND UP "+ hidden_interest_input.value);

        hidden_interest_input.value = "";
        for (mark of dynamic_check_marks) {
            if (mark.checked)
                hidden_interest_input.value += mark.value + ","
        }

        //console.log("AFTER THE INTEREST ROUND UP "+ hidden_interest_input.value);
    }

    for (mark of dynamic_check_marks) {
        mark.onchange = sync_hidden_interest_input;
    }

</script>