{% extends "sign-in card/big_card.html" %}

{% block title %}
    Role Selection Sign-In Card
{% endblock %}

{% block card_corner %}
    <button type="submit" class="sign_in_top_left_element" id="modal-exit" onclick="window.location.href = '/'">X</button>
{% endblock %}

{% block card_head %}
    <h1>Create your account</h1>
{% endblock %}

{% block card_content %}
    <div class="sign-in-card-content">
        <div class="sign-in-card-element">
            <h2 style="font-size: 2.5em">Select Role</h2> <!-- TODO: Move CSS to different file! Sorry! -->
        </div>
        <div class="sign-in-card-element">
            <form method="get" action="/saml2/login">
                <button class="sign-in-card-option-button btn-select-role" id="mentee-btn">Student Mentee</button>
            </form>
        </div>
        <div class="sign-in-card-element">
            <form method="get" action="/register/mentor">
                <button class="sign-in-card-option-button btn-select-role" id="mentor-btn">Industry Mentor</button>
            </form>
        </div>
    </div>
{% endblock %}