{% extends "sign-in card/big_card.html" %}

{% block title %}
    Role Selection Sign-In Card
{% endblock %}

{% block card_corner %}
    <button type="submit" class="sign_in_top_left_element" onclick="window.location.href = '/'">X</button>
{% endblock %}

{% block card_head %}
    <h1>Create your account</h1>
{% endblock %}

{% block card_content %}
    <div class="sign-in-card-content">
        <div class="sign-in-card-element">
            <h2>Select Role</h2>
        </div>
        <div class="sign-in-card-element">
            <form method="get" action="/register/mentee">
                <button class="sign-in-card-option-button">Student</button>
            </form>
        </div>
        <div class="sign-in-card-element">
            <form method="get" action="/register/mentor">
                <button class="sign-in-card-option-button">Mentor</button>
            </form>
        </div>
    </div>
{% endblock %}