db: "postgres"
db_engine: "django.db.backends.postgresql"
db_name: 
db_user: 
db_password: 
db_host: 
db_port: 
secret_key: 
django_allowed_hosts: 
domain: 
nfs_server_ip: 
acme_email: 
absolute_project_path: "/home/user/mentorship-program"
csrf_trusted_origins: