<div class="sign-in-card-content">
    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">Name:</p>    
        <input type="text" id="name" placeholder="e.g. John Doe">
    </div>

    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">Preferred Pronoun(s):</p>
        <select>
            {% for pronoun in pronounlist %}
                <option>{{pronoun}}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="sign-in-card-element">
        <button type="button" class="sign-in-card-option-button">Next</button>
    </div>
</div>