<div class="sign-in-card-content">
    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">Email:</p>
        <input type="email" id="email" placeholder="e.g. john.doe@domain.com">
    </div>

    <div class="sign-in-card-element">
        <p class="sign-in-card-text-normal">Password:</p>
        <input type="password" placeholder="e.g. John Doe">
    </div>

    <div class="sign-in-card-element">
        <button type="button" class="sign-in-card-option-button">Next</button>
    </div>
</div>