.hero-container {
    height: 90%;
    /* padding: 0 calc((100vw - 1300px) / 2); */
    width: 95vw;
}


h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.recommended-cards,
.available-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    align-items: center;
    justify-items: center;
}

.available-filters {
    background-color: #2C2C2C;
    display: flex;
    padding: 15px;
    border-radius: 10px;
}

.available-interests-filter p {
    display: inline-block;
}

.available-interests-filter-box {
    background-color: #464B4E;
    padding: 5px;
    border-radius: 15px;
    width: 250px;
    padding-left: 10px;
    margin-left: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.available-interests-filter-box p {
    font-size: 1.25rem;
    pointer-events: none;
}

.down-arrow {
    transform: rotate(90deg);
    position: relative;
    object-fit: contain;
    height: 1.5rem;
    float: right;
    pointer-events: none;
}

.search-icon {
    position: relative;
    height: 1.125rem;
    top: 0.25rem;
    pointer-events: none;
}

.available-interests-filter :hover {
    cursor: pointer;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.popup .popup-inner {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #464B4E;
    border-radius: 15px;
}

.popup-inner-title {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 250px;
    padding: 5px 5px 5px 10px;
    border-radius: 15px;
}

.popup-search-box {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    background-color: #393B3E;
    display: block;
    border-radius: 5px;
}

.popup-search-box input {
    font-size: 0.9375rem;
    background-color: #393B3E;
    border: 0px;
    color: white;
    outline: none;
}

.popup-search-box input::placeholder {
    color: white;
    opacity: 1;
}

.popup-checkbox-item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: #B5B7B8
}

.popup-checkbox-item input {
    position: relative;
    width: 20px;
    height: 20px;
    top: 3px;
}

.popup-checkbox-item label {
    padding-left: 5px;
    font-size: 0.9375rem;
}

.popup-checkboxes {
    padding-bottom: 10px;
}

.popup .show {
    visibility: visible;
}

.available-search-name {
    margin-left: auto;
    background-color: #464B4E;
    border-radius: 5px;
    padding: 5px;
}

.available-search-name input {
    font-size: 0.9375rem;
    background-color: #464B4E;
    border: 0px;
    color: white;
    outline: none;
}

.available-search-name input::placeholder {
    color: white;
    opacity: 1;
}

.available-search-name p {
    display: inline-block;
    font-size: 1.25rem;
}

.available-filters {
    margin-bottom: 12px;
}

@media screen and (max-width: 1150px) {

    .recommended-cards,
    .available-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 420px) {

    .recommended-cards,
    .available-cards {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 620px) {
    .available-filters {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .available-interests-filter {
        flex-basis: 100%;
        /* force wrap at this size */
        margin-bottom: 1em;
    }

    .available-search-name {
        margin-left: unset;
    }
}