:root {
    --ff-roboto: 'Roboto', sans-serif;
    --ff-roboto-slab: 'Roboto Slab', serif;
    --ff-montserrat: 'Montserrat', sans-serif;

    --clr-font-primary: hsl(222, 27%, 95%);
    --clr-font-secondary: hsl(197, 11%, 87%);
    --clr-font-highlight: hsl(204, 86%, 55%);
    --clr-font-extra-highlight: hsl(204, 86%, 60%);
    --clr-btn-submit: hsl(222, 27%, 33%);
    --clr-btn-submit-highlight: hsl(222, 27%, 35%);
    --clr-modal-backdrop: hsl(210, 2%, 16%);

    --ff-primary: 'Roboto', sans-serif;
    --ff-primary-heading: 'Montserrat', sans-serif;
    --ff-secondary-heading: 'Roboto Slab', serif;

    --fs-primary-heading: 52px;
    --fs-secondary-heading: 24px;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-extrabold: 800;

    --bg-gradient: linear-gradient(315deg,
            hsl(216deg 36% 19%) 0%,
            hsl(216deg 45% 24%) 23%,
            hsl(229deg 23% 32%) 41%,
            hsl(326deg 20% 31%) 57%,
            hsl(355deg 43% 27%) 76%,
            hsl(354deg 33% 23%) 100%);
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/*  Remove list styles on ul, ol elements with a list role, which suggests
    default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer
   not to see them */
/* @media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
} */

@media screen and (max-width: 768px) {
    .hero-container {
        flex-direction: column;
    }
}


.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90%;
    padding: 0 calc((100vw - 1300px) / 2);
}

@media screen and (max-width: 1400px) {
    .hero-container {
        padding-left: 5%;
    }
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
    line-height: 57.2px;
}

.column-left p {
    margin-top: .7rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: var(--ff-roboto-slab);
    line-height: 33.6px;
}

@media screen and (max-width: 1250px) {
    .column-left h1 {
        font-size: 2.5em;
    }

    .column-left p {
        font-size: 1.25rem;
    }
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #FFFFFF;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

@media screen and (max-width: 850px) {
    .column-left {
        padding: 1em;
    }

    .column-right {
        padding: 0 1em 0 1em;
    }

    .hero-container {
        margin-top: 2em;
        grid-template-columns: 1fr;
        padding: 0;
    }
}

form {
    width: 40rem;
    background-color: rgba(99, 99, 99, 0.055);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: none;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 25px 35px;
}

@media screen and (max-width: 1400px) {
    .portal {
        width: 100%;
    }

    form {
        width: 100%;
    }
}

form * {
    font-family: 'Poppins', sans-serif;
    color: lightgray;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.federated-li-container {
    margin-top: 0%;
    margin-bottom: 15px;
}

.login-buttons {
    display: block;
    height: 55px;
    width: 100%;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--ff-roboto);
    filter: drop-shadow(.6em .6em .55em rgba(58, 58, 58, 0.276));
    cursor: pointer;
    /* Change cursor icon to hand when hovering */
    transition: all 0.3s ease;
    /* Smooth transition for the hover effect */
}

#si-google-btn {
    background-color: #131314;
    color: #E3E3E3;
}

#si-apple-btn {
    background-color: #E6E6E6;
    color: #363A3E;
    font-weight: 600;
}

#si-linkedin-btn {
    background-color: #0065B3;
    color: #E3E3E3;
}

#si-google-btn:hover,
#si-google-btn:focus-visible {
    background-color: #1c1c1e;
}

#si-apple-btn:hover,
#si-apple-btn:focus-visible {
    /* darker hover color */
    /* background-color: #d0d0d0; */
    background-color: #FFFFFF;
}

#si-linkedin-btn:hover,
#si-linkedin-btn:focus-visible {
    /*darker hover color */
    /* background-color: #005a9e; */
    background-color: #016fc4;
}

#google-logo {
    align-items: center;
    height: 44px;
    vertical-align: middle;
    padding-right: 10px;
    margin-left: auto;
}

#apple-logo {
    align-items: center;
    height: 50px;
    vertical-align: middle;
    padding-right: 10px;
    margin-left: -15px;
}

#linkedin-logo {
    align-items: center;
    height: 46px;
    vertical-align: middle;
    padding-right: 10px;
    margin-left: 7.5px;
}

.or-container {
    margin-top: 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    height: 1px;
    background-color: #E6E6E6;
    flex-grow: 1;
    margin: 0 10px;
}

.or-text {
    white-space: nowrap;
}

.or {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    color: #FFFFFF;
    font-size: 15px;
}

.email-password-fields {
    padding-top: 10px;
    padding-bottom: 10px;
}

input,
#email,
#password {
    display: block;
    height: 50px;
    width: 95%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--ff-roboto);
    color: #FFFFFF;
    box-shadow: 1px 1px rgba(58, 58, 58, 0.276) inset;
}

/* Targeting WebKit-based browser like Chrome and Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #FFFFFF !important;
    -webkit-box-shadow: 1px 1px rgba(58, 58, 58, 0.276) inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* For Firefox */
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
    background-color: rgba(255, 255, 255, 0.07) !important;
    font-family: var(--ff-roboto) !important;
    color: #FFFFFF !important;
}

::placeholder {
    color: #C2C2C2;
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--ff-roboto);
}

#forgot-password-container {
    display: block;
    padding-left: 10px;
}

#li-btn {
    background-color: #3E4C6C;
    font-size: 1.25rem;
    font-weight: 600;
}

#li-btn:hover,
#li-btn:focus-visible {
    background-color: #4a5a7d;
}

.text-btn {
    margin-top: 7.5px;
    color: #2CA0EF;
    font-weight: 500;
    font-size: .85rem;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.text-btn:hover,
.text-btn:focus-visible {
    color: #2db6f1;
}


#su-span {
    color: #E3E3E3;
    font-weight: 400;
    font-size: .85rem;
    letter-spacing: 1.5px;
    margin-left: 10px;
}

.submit-buttons {
    font-family: var(--ff-primary);
    font-size: 1.2rem;
    font-weight: var(--fw-medium);
    color: var(--clr-font-primary);
    background-color: var(--clr-btn-submit);
}

.submit-buttons:hover,
.submit-buttons:focus-visible {
    background-color: var(--clr-btn-submit-highlight);
}

.modal {
    padding: 1em;
    width: 50ch;
    height: 55ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    border-radius: 15px;
    background-color: var(--clr-modal-backdrop);

    font-family: var(--ff-primary);
    color: var(--clr-font-primary);

    /* Below allows modals to be centered in the screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    &>* {
        margin: 0 0 0.5rem 0;
    }
}

.modal::backdrop {
    backdrop-filter: blur(.25em);
    background: rgba(125, 125, 125, 0.1);
}

.modal-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .25em;
}

.modal-footer-container {
    display: flex;
    /* margin-top: 4.43em; */
    margin-top: 5em;

}

.modal-exit:hover,
.modal-exit:focus-visible {
    transform: scale(1.15);
    outline: none;
}

.modal-header {
    padding-bottom: 1em;
}

.modal-line {
    height: 1;
    background-color: var(--clr-font-primary);
    flex-grow: 1;
}

.modal h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: var(--fw-extrabold);
}

.modal-content-container p {
    margin-top: .5em;
    font-size: 1.15rem;
    color: var(--clr-font-secondary);
}

.prompt-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.prompt-login h1 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    color: #FFFFFF;
    font-family: 'Montserrat';
}

.error-message {
    color: yellow;
    margin-top: .5em;
    margin-left: .5em;
}