:root {
    --ff-roboto: 'Roboto', sans-serif;
    --ff-roboto-slab: 'Roboto Slab', serif;
    --ff-montserrat: 'Montserrat', sans-serif;

    --clr-font-primary: hsl(222, 27%, 95%);
    --clr-font-secondary: hsl(197, 11%, 87%);
    --clr-font-highlight: hsl(204, 86%, 55%);
    --clr-font-extra-highlight: hsl(204, 86%, 60%);
    --clr-btn-submit: hsl(222, 27%, 33%);
    --clr-btn-submit-highlight: hsl(222, 27%, 35%);
    --clr-modal-backdrop: hsl(210, 2%, 16%);

    /* --clr-input-background: rgba(227, 227, 227, 0.1); */
    --clr-input-background: hsl(225, 19%, 37%);

    --ff-primary: 'Roboto', sans-serif;
    --ff-primary-heading: 'Montserrat', sans-serif;
    --ff-secondary-heading: 'Roboto Slab', serif;

    --fs-primary-heading: 52px;
    --fs-secondary-heading: 24px;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-extrabold: 800;

    --bg-gradient: linear-gradient(315deg,
            hsl(216deg 36% 19%) 0%,
            hsl(216deg 45% 24%) 23%,
            hsl(229deg 23% 32%) 41%,
            hsl(326deg 20% 31%) 57%,
            hsl(355deg 43% 27%) 76%,
            hsl(354deg 33% 23%) 100%);

    --bg-logo-gradient: radial-gradient(circle,
            rgba(31, 45, 66, 1) 0%,
            rgba(31, 48, 73, .95) 10%,
            rgba(33, 52, 80, .90) 20%,
            rgba(33, 54, 85, .85) 30%,
            rgba(34, 56, 88, .75) 40%,
            rgba(255, 255, 255, 0) 100%);

    /* --bg-logo-gradient: linear-gradient(180deg,
            rgba(0, 49, 117, 1) 0%,
            rgba(19, 67, 134, 0.90) 29%,
            rgba(44, 90, 155, 0.55) 49%,
            rgba(75, 117, 175, 0.30) 64%,
            rgba(111, 146, 195, 0.15) 77%,
            rgba(153, 178, 214, 0) 87%,
            rgba(203, 217, 236, 0) 95%,
            rgba(255, 255, 255, 0) 100%); */

    /* --bg-logo-gradient: radial-gradient(circle,
            rgba(31, 45, 66, 1) 0%,
            rgba(31, 48, 73, 1) 15%,
            rgba(33, 52, 80, 1) 30%,
            rgba(33, 54, 85, 1) 45%,
            rgba(34, 56, 88, 1) 55%,
            rgba(255, 255, 255, 0) 100%); */
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/*  Remove list styles on ul, ol elements with a list role, which suggests
    default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer
   not to see them */
/* @media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
} */

@media screen and (max-width: 768px) {
    .hero-container {
        flex-direction: column;
    }
}


.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    height: 90%;
    padding: 0 calc((100vw - 1300px) / 2);
}

@media screen and (max-width: 1400px) {
    .hero-container {
        padding-left: 5%;
    }
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
    line-height: 57.2px;
}

.column-left p {
    margin-top: .7rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: var(--ff-roboto-slab);
    line-height: 33.6px;
}

@media screen and (max-width: 1250px) {
    .column-left h1 {
        font-size: 2.5em;
    }

    .column-left p {
        font-size: 1.25rem;
    }
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #FFFFFF;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

@media screen and (max-width: 921px) {
    .column-left {
        padding: 1em;
    }

    .column-right {
        padding: 0 1em 1em 1em;
    }

    .hero-container {
        margin-top: 2em;
        grid-template-columns: 1fr;
        padding: 0;
    }
}

.portal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portal form {
    width: 400px;
    /* max-width: 600px; */
    background-color: rgba(99, 99, 99, 0.055);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: none;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 25px 30px;
}

/* Fixes scaling-issue at smaller screens */
@media (max-width: 480px) {

    /* body,
    main {
        max-width: 100vw;
    } */

    .portal form {
        width: 100%;
    }

    .password-hidden {
        font-size: 1em;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 1400px) {
    .portal {
        width: 100%;
    }

    /* .column-right {
        padding: 0 1em 0 1em;
    } */

    /* .portal form {
        width: 100%;
    } */
}

form * {
    font-family: 'Poppins', sans-serif;
    color: lightgray;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.circle-logo-container {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-image: var(--bg-logo-gradient);
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#li-wings-logo {
    height: 115px;
    width: auto;
}

.federated-li-container {
    margin-top: 0%;
    margin-bottom: 15px;
}

.login-buttons {
    display: block;
    height: 55px;
    width: 100%;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--ff-roboto);
    filter: drop-shadow(.6em .6em .55em rgba(58, 58, 58, 0.276));
    cursor: pointer;
    /* Change cursor icon to hand when hovering */
    transition: all 0.3s ease;
    /* Smooth transition for the hover effect */

    background-color: #3E4C6C;
    font-size: 1.25rem;
    font-weight: 600;
}

.login-buttons:hover,
.login-buttons:focus-visible {
    background-color: #4a5a7d;
}

#si-google-btn {
    background-color: #131314;
    color: #E3E3E3;
}

#si-apple-btn {
    background-color: #E6E6E6;
    color: #363A3E;
    font-weight: 600;
}

#si-linkedin-btn {
    background-color: #0065B3;
    color: #E3E3E3;
}

#si-google-btn:hover,
#si-google-btn:focus-visible {
    background-color: #1c1c1e;
}

#si-apple-btn:hover,
#si-apple-btn:focus-visible {
    /* darker hover color */
    /* background-color: #d0d0d0; */
    background-color: #FFFFFF;
}

#si-linkedin-btn:hover,
#si-linkedin-btn:focus-visible {
    /*darker hover color */
    /* background-color: #005a9e; */
    background-color: #016fc4;
}

#google-logo {
    align-items: center;
    height: 44px;
    vertical-align: middle;
    padding-right: 10px;
    margin-left: auto;
}

#apple-logo {
    align-items: center;
    height: 50px;
    vertical-align: middle;
    padding-right: 10px;
    margin-left: -15px;
}

#linkedin-logo {
    align-items: center;
    height: 46px;
    vertical-align: middle;
    padding-right: 10px;
    margin-left: 7.5px;
}

.or-container {
    margin-top: 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    height: 1px;
    background-color: rgba(211, 211, 211, 0.6);
    /* background-color: #E6E6E6; */
    /* flex-grow: 1; */
    margin: 0 10px;
}

.or-text {
    white-space: nowrap;
}

.or {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    color: #FFFFFF;
    font-size: 15px;
}

.email-password-fields {
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    display: block;
    height: 50px;
    width: 95%;
    justify-content: center;
    background-color: var(--clr-input-background);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--ff-roboto);
    color: var(--clr-font-primary) !important;
    box-shadow: 1px 1px rgba(58, 58, 58, 0.276) inset;
}

.password-container {
    position: relative;
    width: 100%;
}

/* .password-container input[type="password"] {
    width: 100%;
padding-right: 40px;
} */

#togglePassword {
    position: absolute;
    right: 20px;
    top: 13px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    /* color: rgba(211, 211, 211, 0.6); */
}

#togglePassword svg {
    fill: hsl(0, 0%, 76%);
}

#togglePassword:hover svg,
#togglePassword:focus-visible svg {
    fill: hsl(0, 0%, 89%);
}

#visibilityOffIcon {
    display: none;
}

.password-hidden {
    font-size: 1.25em;
    letter-spacing: 1.25px;
}

#password {
    padding-right: 45px;
}

/* Targeting WebKit-based browser like Chrome and Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--clr-font-primary);
    -webkit-box-shadow: 0 0 0 1000px var(--clr-input-background) inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* For Firefox */
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
    background-color: var(--clr-input-background) !important;
    font-family: var(--ff-roboto) !important;
    color: var(--clr-font-primary) !important;
}

::placeholder {
    color: #C2C2C2;
    font-size: 1rem;
    letter-spacing: 1.2px;
    font-weight: 300;
    font-family: var(--ff-roboto);
}

#forgot-password-container {
    display: block;
    padding-left: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

/* Not needed ~ artifact */
/* #li-btn {
    background-color: #3E4C6C;
    font-size: 1.25rem;
    font-weight: 600;
}

#li-btn:hover,
#li-btn:focus-visible {
    background-color: #4a5a7d;
} */

.text-btn {
    margin-top: 7.5px;
    color: #2CA0EF;
    font-weight: 500;
    font-size: .85rem;
    letter-spacing: 1.15px;
    cursor: pointer;
}

.text-btn:hover,
.text-btn:focus-visible {
    color: #2db6f1;
}


#su-span {
    color: #E3E3E3;
    font-weight: 400;
    font-size: .85rem;
    letter-spacing: 1.15px;
    /*margin-left: 10px;*/
}

.submit-buttons {
    font-family: var(--ff-primary);
    font-size: 1.2rem;
    font-weight: var(--fw-medium);
    color: var(--clr-font-primary);
    background-color: var(--clr-btn-submit);
}

.submit-buttons:hover,
.submit-buttons:focus-visible {
    background-color: var(--clr-btn-submit-highlight);
}

#su-p {
    padding-top: 5px;
}

.modal {
    padding: 1em;
    width: 45ch;
    height: 48ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    border-radius: 15px;
    background-color: var(--clr-modal-backdrop);

    font-family: var(--ff-primary);
    color: var(--clr-font-primary);


    /* Below allows modals to be centered in the screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    &>* {
        margin: 0 0 0.5rem 0;
    }
}

.modal::backdrop {
    backdrop-filter: blur(.25em);
    background: rgba(125, 125, 125, 0.1);
}

.modal-container {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-content-container {
    /* margin-top: 0px; */
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .25em;
}

.modal-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 15px;
}

.modal-footer-container form {
    width: 100%;
}

.modal-footer-container form input {
    margin: 0px;
    padding: 10px;
    height: 50px;
    width: 100%;
}

/* .modal-exit:hover,
.modal-exit:focus-visible {
    transform: scale(1.15);
    outline: none;
} */

.modal-header {
    padding-bottom: 1em;
}

.modal-line {
    height: 1;
    background-color: var(--clr-font-primary);
    flex-grow: 1;
}

.modal h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.08em;
    flex-grow: 1;
    font-weight: var(--fw-extrabold);
}

/* Resize modal heading at smaller screens to fit on one line */
@media (max-width: 450px) {
    .modal h2 {
        font-size: 2rem;
        letter-spacing: normal;
    }
}

.modal-content-container p {
    margin-top: .5em;
    font-size: 1.15rem;
    letter-spacing: .05em;
    color: var(--clr-font-secondary);
}

.prompt-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.modal-buttons {
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

.prompt-login h1 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--clr-font-primary);
    font-family: var(--ff-primary);

}

.error-message {
    color: yellow;
    margin-top: .5em;
    margin-left: .5em;
}

#email-status-good,
#email-status-bad {
    padding-top: 5px;
}

.circle-wrapper {
    display: inline-block;
    outline: none;
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.2s;
}

.circle-wrapper:hover,
.circle-wrapper:focus-visible {
    background-color: rgba(255, 255, 255, 0.075);
}

.circle-wrapper img {
    display: block;
    border-radius: 50%;
}

.bad_email {
    text-align: center;
}

/* Style modifications for password-reset page */

#pwr-wrapper {
    padding: 10px;
}

#pwr-icon-home {
    height: 20px;
    width: 100%;
    border-radius: 0;
    filter: brightness(0) invert(1);
}

#re-new-password {
    margin: 10px 0;
}

#status {
    font-size: 1em;
    margin-top: 10px;
    padding: 0px 10px;
    font-weight: 300;
    text-align: center;
}