/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*  */

/* clr-light and light-mode utility class used to toggle light mode*/
:root {
    --clr-font-primary: hsl(222, 27%, 95%);

    --clr-light: linear-gradient(139deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(251, 57, 57, 1) 23%,
            rgba(255, 130, 130, 1) 50%,
            rgba(255, 193, 193, 1) 75%,
            rgba(255, 255, 255, 1) 100%);
}

.light-mode {
    background-image: var(--clr-light);
}

* {
    color: whitesmoke;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    min-height: 100vh;
    /* This gradient is PRETTY DANG close to the Figma model */
    /* Runner-up Blue: #1E2E55*/
    background-image: -webkit-linear-gradient(135deg, #792f38 0%, #233667 100%);
    background-image: -moz-linear-gradient(135deg, #792f38 0%, #233667 100%);
    background-image: -o-linear-gradient(135deg, #792f38 0%, #233667 100%);
    /* background-image: linear-gradient(135deg, #792f38 0%,  #233667 100%); */
    background-image: linear-gradient(315deg,
            hsl(216deg 36% 19%) 0%,
            hsl(216deg 45% 24%) 23%,
            hsl(229deg 23% 32%) 41%,
            hsl(326deg 20% 31%) 57%,
            hsl(355deg 43% 27%) 76%,
            hsl(354deg 33% 23%) 100%);
    ;

    /* stretches instead of repeats gradient on long pages */
    background-attachment: fixed;
    position: static;

    overscroll-behavior: none;
}

main {
    min-height: 88vh;
    /* max-height: 100vh; */
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(105, 105, 105, 0.5);
    /* Semi-transparent white background */
    z-index: 1000;
    /* Make sure it's on top of other elements */
    display: none;
    /* Initially hidden */
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(0, 0, 0, 0.1);
    /* Light border */
    border-top: 4px solid #333;
    /* Darker top border */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    /* Spin animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* html,
body {
    height: 100%;
} */

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Red   :  #4C282C */
/* Blue  :  #1E2E42 */
/* Blend :  #3D4458 */

/* Fix eye-icon appearing on password fields in edge */
::-ms-reveal {
    display: none;
}

/* ------------------------------------------------------- */
/* -----------------    GENERAL STYLES    ---------------- */
/* ------------------------------------------------------- */

h1 {
    font-size: larger;
    font-weight: 600;
}

h2 {
    font-weight: 200;
}

h3 {
    font-weight: 300;
}

h4 {
    font-weight: 200;
    font-style: italic;
}

/* ------------------------------------------------------- */
/* -----------------    NAV BAR STYLES    ---------------- */
/* ------------------------------------------------------- */

/* nav {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
} 
 
nav a {
    text-decoration: none;
    color: lightgray;
    padding: 0 1.5rem;
}

nav .logo {
    padding: 10px 10px;
}

nav .logo img {
    height: 5vh;
} */

nav {
    max-width: 100vw;
    padding: 10px 0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

nav img {
    height: 50px;
    /* padding: 0 20px; */
    width: auto;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    height: 50px;
}

nav svg {
    fill: var(--clr-font-primary);
    height: 15px;
    width: auto;
    padding-right: 10px;
}

nav svg {
    height: 30px;
}

nav a {
    height: 100%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    color: var(--clr-font-primary);
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 500;
}

nav li:first-child {
    margin-right: auto;
}

/* Styling for <hr> to be a nice looking line */
.section-divider {
    border: none;
    height: 1.5px;
    width: 90%;
    align-items: center;
    background-color: var(--clr-font-primary);
    margin-left: 10px;
}

/* Refers to logo a element */
#logo {
    padding: 0;
}

/* Refers to anchor tags w/o links */
.disabled-link {
    /* Prevents clicking */
    pointer-events: none;
    cursor: not-allowed;
}

.sidebar {
    position: absolute;
    top: 70px;
    right: 0px;
    /* height: calc(100vh - 70px); */
    width: 250px;
    z-index: 951;
    /* background-color: rgba(255, 255, 255, 0.073);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); */
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    /* Fix blur effect for ios */
    /* background: rgba(255, 255, 255, 0.073);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
}

.sidebar-bg {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 250px;
    /* height: 153px; */
    background-color: rgba(255, 255, 255, 0.073);
    /* opacity: .8; */
    z-index: 950;
    display: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

.sidebar:last-child {
    align-items: flex-end;
    justify-content: flex-end;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.134);
}

.mobile-sidebar {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 100%;
    z-index: 951;
    /* background-color: rgba(255, 255, 255, 0.073);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); */
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    /* Fix blur effect for ios */
    /* background: rgba(255, 255, 255, 0.073);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
}

.mobile-sidebar-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.073);
    /* opacity: .8; */
    z-index: 950;
    display: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.mobile-navbar {
    display: none;
    width: 100vw;
}

.mobile-navbar img {
    height: 45px;
    width: auto;
}

.mobile-navbar svg {
    fill: var(--clr-font-primary);
    height: 30px;
    width: auto;
    padding-right: 10px;
}

.wings-logo {
    padding-left: 10px;
}

/* Make navigation responsive for mobile/tablet */
@media(max-width:1000px) {
    .primary-navbar {
        display: none;
    }

    nav .mobile-navbar {
        display: flex;
    }
}

/* Make side-bar responsive for mobile/tablet */
@media(max-width:500px) {
    .primary-navigation {
        display: none;
    }

    nav .mobile-sidebar {
        width: 100%;
    }

    .sidebar {
        background-color: rgba(5, 5, 5, 0.53);
    }
}

@media (max-width: 480px) {

    nav {
        margin: 0;
        padding: 0;
    }

    #logo {
        margin-left: 10px;
    }

    #open-mobile-sidebar-btn a {
        /* margin: 0; */
    }

    .mobile-navbar a {
        margin: 0;
        margin-right: 10px;
    }

    .mobile-navbar img {
        max-height: 40px;
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    .mobile-navbar svg {
        max-height: 30px;
        width: auto;
        padding-right: 0;
    }
}


/* ------------------------------------------------------- */
/* -------------------    CARD STYLES    ----------------- */
/* ------------------------------------------------------- */

.sign-in-card {
    border-radius: 5%;
    background-color: #292A2B;
    align-self: center;

    min-height: 40vw;
    max-height: 50vw;

    width: 40%;

    box-shadow: 2px 2px 2px 2px rgba(47, 47, 47, 0.6);
}

.sign-in-card-content {
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: space-around;
    align-items: center;

    min-height: 30vw;
    max-height: 40vw;
}

footer {
    padding: .5em;
    margin: .5em;

    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    color: lightgray;
    font-weight: 200;
    font-size: .85rem;
}

/* ------------------------------------------------------- */
/* ALL STYLES BELOW WERE ORIGINALLY ONLY FOR SIGN-UP CARDS */
/* ------------------------------------------------------- */

.sign-in-card-element {
    width: 70%;

    margin-top: 1%;
    margin-bottom: 1%;
}

.sign-in-card-element-line-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70%;
}

.sign-in-card-interest-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sign-in-card-element-line {
    height: 0.1vw;

    margin: 0 2%;

    flex-grow: 1;

    background-color: whitesmoke;
}

.sign-in-card-element-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 70%;

    margin-top: 1%;
    margin-bottom: 1%;
}

.sign-in-card-element-horizontal div select {
    width: 100%;
}

.sign-in-card-element-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: inherit;
    width: 70%;

    margin-top: 1%;
    margin-bottom: 1%;
}

.sign-in-card-user-agreement-containter {
    width: 70%;
    height: 80%;

    margin-top: 1%;
    margin-bottom: 1%;
}

.sign-in-card-checkbox {
    flex-basis: content;
}

.sign-in-card h1 {
    font-weight: 900;
    font-size: 2.5vw;

    height: fit-content;
    width: fit-content;

    padding-bottom: 0.5em;
    margin: 0 auto;

    text-align: center;

    border-bottom: 1px solid whitesmoke;
}

.sign-in-card p {
    font-weight: 200;
}

.sign-in-card-text-normal {
    font-size: large;
    text-align: left;
}

.sign-in-card-agreement-text {
    font-size: small;
    text-align: center;
}

.sign-in-card-agreement-checkbox {
    flex-basis: 10%;
}

.sign-in-card-text-scroll {
    font-size: large;
    text-align: left;

    min-height: 15vw;
    max-height: 20vw;

    padding: 2%;
    border-radius: .5em;

    overflow-y: scroll;
    overflow-x: auto;
    scrollbar-width: thin;

    background-color: dimgrey;
}

button {
    cursor: pointer;
}

select {
    font-weight: 400;
    font-size: 1.5em;

    width: 49%;

    padding: 3.5%;

    border-radius: .5em;

    background-color: #333842;
    border-color: #333842;
}

.sign-in-card input {
    font-weight: 400;
    font-size: 1.5em;

    width: 100%;

    padding-top: 3.5%;
    padding-bottom: 3.5%;
    padding-left: 3.5%;

    border-radius: .5em;
}

.sign-in-card input[type=text] {
    background-color: #333842;
    border-color: #333842;
}

.sign-in-card input[type=password] {
    background-color: #333842;
    border-color: #333842;
}

.password-holder {
    position: relative;
}

.password-visibility {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    cursor: pointer;
}

.password-visibility img {
    height: auto;
    width: 2em;
}

#phone_country_code {
    width: 30%;
    margin-right: .5em;
}

.sign-in-card input[type=email] {
    background-color: #333842;
    border-color: #333842;
}

.sign-in-card input[type=tel] {
    background-color: #333842;
    border-color: #333842;
    width: 60%;
}

.sign-in-card input[type=button] {
    background-color: #3E4C6C;
    border-color: #3E4C6C;
}

.sign-in-card input[type=button]:hover {
    background-color: #1f315d;
    border-color: #1f315d;
}

.sign-in-card-interest {
    height: min-content;
    width: min-content;

    padding: 2%;
}

.sign-in-card-interest input[type=checkbox] {
    display: none;
}

.sign-in-card-interest-label {
    font-size: large;
    font-weight: 300;

    height: fit-content;
    width: max-content;

    padding: 2%;
    margin: 1%;

    border-radius: .5em;


    background-color: rgb(66, 66, 66);

    color: #F5F5F5;
}

.sign-in-card-interest:hover input[type=checkbox]~.sign-in-card-interest-label {
    background-color: lightgrey;
}

.sign-in-card-interest input[type=checkbox]:checked~.sign-in-card-interest-label {
    background-color: #3e4c6c;
    color: white;


    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sign-in-card-interest-button {
    font-size: large;
    font-weight: 300;

    height: fit-content;
    width: max-content;

    padding: 2%;

    border-color: transparent;
    border-radius: .5em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    background-color: #464B4E;
}

.sign-in-card-interest-button:hover {
    background-color: lightgrey;
}

.sign-in-card-option-button {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 300;
    font-size: 1.5em;

    width: 100%;
    height: 80%;

    padding-top: 2%;
    padding-bottom: 2%;

    margin-top: 2%;
    margin-bottom: 2%;

    border-radius: 0.5em;

    background-color: #3E4C6C99;
    border-color: #3E4C6C;
}

.sign-in-card-button-option:hover {
    background-color: #1f315d;
    border-color: #1f315d;
}

.btn-select-role {
    height: 15vh;
}

.sign_in_top_left_element {
    position: relative;

    font-size: large;

    width: fit-content;

    margin-top: 2%;
    margin-left: 3%;

    padding: 2%;

    background-color: #ffffff00;
    border-color: #ffffff00;
}

#sign-in-card-google-btn {
    height: inherit;

    background-color: #131314;
    border-color: #131314;
    color: #E3E3E3;
}

#sign-in-card-apple-btn {
    font-weight: 600;

    height: inherit;

    background-color: #E6E6E6;
    border-color: #E6E6E6;
    color: #363A3E;
}

#sign-in-card-linkedin-btn {
    height: fit-content;

    background-color: #0065B3;
    border-color: #0065B3;
    color: #E3E3E3;
}

#sign-in-card-google-btn:hover {
    background-color: #1c1c1e;
}

#sign-in-card-apple-btn:hover {
    background-color: #d0d0d0;
}

#sign-in-card-linkedin-btn:hover {
    background-color: #005a9e;
}

#google-logo {
    align-items: center;
    vertical-align: middle;

    height: 2.1em;
}

#apple-logo {
    align-items: center;
    vertical-align: middle;

    height: 2.1em;
}

#linkedin-logo {
    align-items: center;
    vertical-align: middle;

    height: 2.1em;
}

.error-message {
    color: yellow;
    margin-top: .5em;
}

.sign-in-card-text-mentee-message {
    margin-bottom: .5em;
}


/* SCROLLBAR STYLES */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
    /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

@media screen and (max-width: 1200px) {
    .sign-in-card {
        width: 50%;

        min-height: 40vw;
        max-height: 55vw;
    }

    .sign-in-card-content {
        min-height: 40vw;
        max-height: 60vw;
    }

    .sign-in-card-text-scroll {
        min-height: 15vw;
        max-height: 25vw;
    }

    .sign-in-card h1 {
        font-size: 3vw;
    }

    .sign-in-card-interest {
        padding: 1%;
    }

    .sign-in-card-interest-button {
        padding: 1%;
    }
}

@media screen and (max-width: 900px) {
    .sign-in-card {
        width: 70%;

        min-height: 60vw;
        max-height: 80vw;
    }

    .sign-in-card-content {
        min-height: 55vw;
        max-height: 60vw;
    }

    .sign-in-card-text-scroll {
        min-height: 25vw;
        max-height: 30vw;
    }

    .sign-in-card h1 {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 700px) {
    .sign-in-card {
        width: 90%;

        min-height: 60vw;
        max-height: none;
    }

    .sign-in-card-content {
        min-height: 60vw;
        max-height: none;
    }

    .sign-in-card-text-scroll {
        min-height: 45vw;
        max-height: 50vw;
    }

    .sign-in-card h1 {
        font-size: 6vw;
    }

    .sign-in-card-interest {
        padding: 0.5%;
    }

    .sign-in-card-interest-button {
        padding: 0.5%;
    }
}