.card {
    width: 100%;
    height: 100%;

    max-width: 25em;
    max-height: 20em;
    
    background-color: rgb(44, 44, 44);
    background-size: contain;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: .5em;
}

.card form {
    background-image: url("../images/dark_background.png");
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.card-gray-part {
    position: relative;
    justify-items: center;
    width: 100%;
    height: 76%;
    margin-top: .25em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: auto;
}

.card-profile-image {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    margin: .5em;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    background-size: cover;
}

.card-name {
    text-align: center;
    font-size: 1rem;
}

.card-interests-header {
    text-align: center;
    font-size: 0.75rem;
}

.card-line-divider-1 {
    position: relative;
    top: 24%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
    background-color: rgb(111, 111, 111);
}

.card-line-divider-2 {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 1px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
    background-color: rgb(111, 111, 111);
}

.card-interests {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    gap: 5px;
    text-align: center;
    min-height: 5rem;
}

.card-interests p {
    font-size: 0.8rem;
    background-color: #464B4E;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 300;
    height: 1rem;
    overflow: hidden;
}

.card-button {
    position: relative;
    background-color: #27446D;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    font-size: 0.6875em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2px;
    cursor: pointer;
    user-select: none;
}

.card-button:hover {
    background-color: #1e3657;
}

.card-button:active {
    background-color: #182b46;
}

/* for buttons that no longer click, div. to increase
 * priority */
div.card-button-disabled , div.card-button-disabled:hover , div.card-button-disabled:active {
    background-color: #363f4d;
}
