/* ----- Global Variables ----- */
:root {
    --clr-font-primary: hsl(222, 27%, 95%);
    --clr-font-secondary: hsl(197, 11%, 87%);
    --clr-modal-backdrop: hsl(210, 2%, 16%);
    --clr-btn-submit: hsl(222, 27%, 33%);
    --clr-btn-submit-highlight: hsl(222, 27%, 35%);

    --ff-primary: 'Roboto', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-extrabold: 800;
}

/* ----- Component Styling ----- */

.hero-container {
    display: flex;
    width: 95vw;
    padding: 10px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.column-left {
    margin-left: 2rem;
}

.column-left h3 {
    margin-top: 0.5rem;
    margin-bottom: .25rem;
}

.column-right {
    padding-left: 0rem 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    width: 100%;
}

.row-titles h2,
.row-titles h3 {
    margin-top: .5rem;
}

.row-titles h1 {
    font-size: 3rem;
}

.row-titles h2 {
    color: whitesmoke;
    font-size: 1.25rem;
}

.row-titles h3 {
    font-size: 1.25rem;
}

.iHateMyself {
    margin-left: auto;
    margin-right: 0;
}

.button-save, .button-edit, .button-cancel {
    height: 3rem;
    width: 3rem;

}

.top-title {
    display: flex;
    align-items: center;
}

.top-title h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

.top-title h2 {
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    color: whitesmoke;
    font-weight: 300;
}

.top-title h4 {
    margin-left: 1em;
}

.top-title button{
    width: 7rem;
}

button {    
    color: whitesmoke;
    font-size: 1rem;


    background-color: #5554;
    /* background-image: linear-gradient(#666, #555); */
    border: 2px solid rgb(0 0 0 /70%);
    box-shadow: rgb(19 19 19) 0 1px 1px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 1rem;
}

/* 
    color: #24292E;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    cursor: pointer;    
*/

.specialties {
    display: block;
    margin: .5em 0;
}

.specialties label { /*input*/
    color: white;
    border-radius: 1rem;
    width: 10rem;
    margin: .25em;
    /* margin-left: 1rem; */
    /* margin-bottom: .5em; */

    height: 1.5rem;
    overflow: hidden;

    display: inline-block;

    /* flex: 1 0 auto; */

    border-color: transparent;
    border-radius: .5em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    background-color: rgb(100, 100, 100);
}

.user-interest-label {
    font-size: 1rem;
    font-weight: 300;

    height: fit-content;
    width: 10em;
    
    border-radius: .5em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    text-align: center;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;
    /* background-color: #464B4E; */
}

.specialties input {
    display: none;
}

.specialties input:checked ~ .user-interest-label {
    background-color: #464B4E;
    border: #464B4E;
    border-width: 2px;
}

/* .specialties input:hover ~ .user-interest-label {
    background-color: #363b3f;
} */

.specialties .hover_interest:hover ~ .user-interest-label {
    background-color:  #3d4247;
}

textarea {
    resize: none;
}

textarea[readonly] {
    outline: none; /* Remove default focus outline */
}

input:read-only {
    outline: none; /* Remove default focus outline */
}

.row-communication-methods p {
    color: whitesmoke;
}

.row-communication-methods h2 {
    margin-bottom: .5rem;
}

.row-overview p {
    color: whitesmoke;
}

.row-overview h2 {
    margin-bottom: .5rem;
}

.profile-container {
    position: relative;
    display: inline-block;
}

.profile-picture {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

.profile-picture-edit-overlay{
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px; /* Adjust as necessary */
    user-select: none;
    cursor: pointer;
}

.mentee-manager {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.mentee-manager a h4 {
    margin-left: .5em;
}

.button-pending-action {
    color: white;
    background-color: #444444cc;
    
    border: 2px solid;
    border-radius: 25px;
    width: 2rem;
    margin: 0 .25em;
}

.button-pending-action-container {
    text-decoration: none;
}

/* 11aa55cc */

.please-fuck-off-and-die .button-pending-action-container:nth-child(1) .button-pending-action {
    background-color: #11aa55cc;
}

/* Apply styles to the second element of the class */
.please-fuck-off-and-die .button-pending-action-container:nth-child(2) .button-pending-action {
    background-color: #aa1155cc;
}

.please-fuck-off-and-die {
    margin-left: auto;
    margin-right: .5em;
}

#pending-requests-container {
    width: 90%;
    margin: auto;
}

.row-notes {
    display: inline-flex;
}

.interest-selected{
    background-color: lightgrey;
}

.interest-unselected{
    background-color: gray;
}


.row-notes button {
    color: whitesmoke;
    border-radius: 1rem;
    height: 2rem;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row-notes h2 {
    font-weight: 300;
}

.note-header {
    display: flex;
}

.note-header p {
    color: whitesmoke;
}

.invisible {
    color: transparent;
}

.note-title {
    flex: 1 1 35%;
}

.note-header p {
    font-weight: 100;
}

.note-header p:not(.note-title) {
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

#bio {
    width: 100%;
    height: 100%;
    /* scrollbar-width: thin; */
}

.note {
    margin-bottom: 0.5rem;
    background-color: rgba(150, 150, 150, 0.3);
    padding: 0.5rem;
    border-color: #33384200;
    display: flex;
    height: 2.5rem;
    border-radius: 0.5rem;
}

.note p:not(.note-title) {
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

.note button:not(.note-title) {
    flex: 1;
    margin: 0 5px;
    align-self: center;
}

/* .note button:hover, .row-notes button:hover { */
button:hover {
    background-color: #464B4E;
}

/* .note button:active, .row-notes button:active { */
button:hover { 
    background-color: #363b3f;
}

.request-separator {
    width: 80%;
    opacity: .8;
    margin: 1.5em auto;

}

#btn_profile_request {
    margin-top: 1em;

    padding: 0.5em;
    width: 80%;
    margin-left: 10%;
}

.button-user-remove {
    background-color: #911c;
}

.a-user-remove {
    margin-left: auto;
    margin-right: 0;
}

.btn-note-edit {
    transform: scaleX(-1);
}

/* ----- Modal Component Styling ----- */

.container {
    padding-bottom: 10px;
}

.modal {
    padding: 1em;
    width: 60vw;
    height: 65vh;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    border-radius: 15px;
    background-color: var(--clr-modal-backdrop);

    font-family: var(--ff-primary);
    color: var(--clr-font-primary);

    /* Below allows modals to be centered in the screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    &>* {
        margin: 0 0 0.5rem 0;
    }
}

.modal::backdrop {
    backdrop-filter: blur(.25em);
    background: rgba(125, 125, 125, 0.1);
}

.modal-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .25em;
}

.modal-footer-container {
    display: flex;
    /* margin-top: 4.43em; */
    margin-top: 5em;

}

.modal-exit:hover,
.modal-exit:focus-visible {
    transform: scale(1.15);
    outline: none;
}

.modal-header {
    padding-bottom: 1em;
}

.modal-line {
    height: 1;
    background-color: var(--clr-font-primary);
    flex-grow: 1;
}

.modal h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: var(--fw-extrabold);
}

.modal h3 {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.25rem;
    font-weight: var(--fw-medium);
}

.modal p {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    font-weight: var(--fw-regular);
}

.user-input {
    font-size: 1rem;
    font-family: var(--ff-primary);
    line-height: 1.1em;
    border-radius: 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: 1px 1px rgba(58, 58, 58, 0.276) inset;
}

.modal input {
    width: 100%;
    overflow: scroll;
}

#note-title-input {
    /* display: block; */
    margin-top: 10px;
    height: calc(1.5 * 1rem);
    width: calc(100% - 16px);
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 8px;
}

.modal textarea {
    margin-top: 10px;
    width: calc(100% - 16px);
    padding: 8px;
    font-size: 1rem;
    color: var(--clr-font-secondary);
    resize: none;
    overflow-y: auto;
}

.modal-content-container p {
    margin-top: .5em;
    font-size: 1.15rem;
    color: var(--clr-font-secondary);
}

.modal button {
    width: 100%;
}

/*  May have to remove some later to clean up */
#btn-create-note {
    font-family: var(--ff-primary);
    font-size: 2rem;
    font-weight: var(--fw-medium);
    color: var(--clr-font-primary);
    background-color: var(--clr-btn-submit);

    display: block;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
    font-weight: var(--fw-medium);
    filter: drop-shadow(.6em .6em .55em rgba(58, 58, 58, 0.15));
    cursor: pointer;
    /* Change cursor icon to hand when hovering */
    transition: all 0.3s ease;
    /* Smooth transition for the hover effect */
}

#btn-create-note:hover,
#btn-create-note:focus-visible {
    background-color: var(--clr-btn-submit-highlight);
}

@media screen and (max-width: 1000px) {
    .hero-container {
        display: block;
        text-align: center;
        margin: auto;
    }

    .mentee-manager {
        margin-left: 5%;
        justify-content: center;
    }

    .a-user-remove {
        margin-left: 5%;
    }

    .top-title {
        justify-content: center;
        margin-bottom: 1em;
        border-top: 1px solid white;
    }

    .iHateMyself {
        margin-left: 5%;
    }

    .column-left, .column-right {
        margin-left: 0;
    }

    #bio {
        scrollbar-width: none;
    }

}