.hero-container {
    display: flex;
    width: 95vw;
    padding: 10px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.column-left {
    margin-left: 2rem;
}

.column-left h3 {
    margin-top: 0.5rem;
    margin-bottom: .25rem;
}

.column-right {
    padding-left: 0rem 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    width: 100%;
}

.row-titles h2, .row-titles h3 {
    margin-top: .5rem;
}

.row-titles h1{
    font-size: 3rem;
}

.row-titles h2 {
    color: whitesmoke;
    font-size: 1.25rem;
}

.row-titles h3 {
    font-size: 1.25rem;
}


.button-edit, .button-cancel {
    margin-left: auto;
    height: 3rem;
    width: 3rem;

}

.top-title {
    display: flex;
    align-items: center;
}

.top-title h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

.top-title h2 {
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    color: whitesmoke;
    font-weight: 300;
}

.top-title button {
    color: whitesmoke;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid;
    border-radius: 1rem;
    width: 7rem;
}

.specialties {
    display: block;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em; */
    /*flex-wrap: wrap; /* Wrap flex items to the next line if needed */
    /*flex-direction: row; /* Arrange flex items horizontally */
    margin: .5em 0;
}

.specialties button {
    color: white;
    border-radius: 1rem;
    width: 10rem;
    margin: .25em;
    /* margin-left: 1rem; */
    /* margin-bottom: .5em; */

    height: 1.25rem;
    overflow: hidden;

    display: inline-block;

    /* flex: 1 0 auto; */

    border-color: transparent;
    border-radius: .5em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    background-color: rgb(100, 100, 100);
}

.row-communication-methods p {
    color: whitesmoke;
}

.row-communication-methods h2 {
    margin-bottom: .5rem;
}

.row-overview p {
    color: whitesmoke;
}

.row-overview h2 {
    margin-bottom: .5rem;
}

.profile-picture {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

.mentee-manager {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.button-mentee-remove {
    color: white;
    background-color: transparent;
    border: 2px solid;
    border-radius: 25px;
    width: 5rem;
    margin-left: auto;
}

.row-notes {
    display: inline-flex;
}

.interest-selected{
    background-color: lightgrey;
}

.interest-unselected{
    background-color: gray;
}


.row-notes button {
    color: whitesmoke;
    border: solid;
    border-color: #27446D;
    border-radius: 1rem;
    background-color: #27446D;
    height: 2rem;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.note-header {
    display: flex;
}

.note-header p{
    color: whitesmoke;
}

.invisible {
    color: transparent;
}

.note-title {
    flex: 1 1 50%;
}

.note-header p:not(.note-title) {
    flex: 1;
    margin: 0 5px;
}

.note {
    margin-bottom: 0.5rem;
    background-color: rgba(150, 150, 150, 0.3);
    padding: 0.5rem;
    border-color: #333842;
    display: flex;
    border-radius: 0.5rem;
    resize: none;
    border: 0;

    width: 100%;
}

.note p:not(.note-title) {
    flex: 1;
    margin: 0 5px;
}

.note button:not(.note-title) {
    flex: 1;
    margin: 0 5px;
    background-color: transparent;
    border: none;
}

textarea[readonly] {
    outline: none; /* Remove default focus outline */
  }